/**
 * VKCalculator JS Plugin Style
 * =============================================================================
 * Author: Arvianto Dwi <arvianto.dwi@programmer.net>
 * Since : 2016-05-19 (v1.0.0)
 */
/**
 * Variables
 * =============================================================================
 * Author: Arvianto Dwi <arvianto.dwi@programmer.net>
 * Since : 2015-12-23
 * Update: 2016-04-22 (v1.0.1) - Fix complimentary colors
 */
/**
 * Mixin Directives
 * =============================================================================
 * Author: Arvianto Dwi <arvianto.dwi@programmer.net>
 * Since : 2015-12-1  (v1.0.0)
 * Update: 2016-03-30 (v1.0.1): add clearfix
 *         2016-04-19 (v1.1.0): add absoluteTo, absoluteCenterPx, and
 *                              absoluteCenterPercent
 *         2016-04-20 (v1.1.1): add placeholder
 */
/**
 * size
 * Return the given width and height value, and set box-sizing rule if the third
 * param value is not null.
 *
 * Param: mixed   $w           width value
 * Param: mixed   $h           height value
 * Param: string  $sizingType  box-sizing type value
 */
/**
 * absoluteTo
 * Set absolute element's position to the given param value.
 *
 * Param: string  $positionY  location (top, right, bottom or left)
 * Param: string  $positionX  location (top, right, bottom or left)
 */
/**
 * absoluteCenterPx
 * Set absolute element's position in the center of the page. The parent of
 * these absolute elements must be relative or absolute positioned. Only applied
 * to absolute elements with px size unit, for the percent size unit see the
 * absoluteCenterPercent mixin.
 *
 * Param: mixed  $w  width value on px
 * Param: mixed  $h  height value on px
 */
/**
 * absoluteCenterPercent
 * Set absolute element's position in the center of the page. The parent of
 * these absolute elements must be relative or absolute positioned. Only applied
 * to absolute elements with % size unit, for the px size unit see the
 * absoluteCenterPx mixin.
 */
/**
 * clearfix
 * Create clearfix pseudo-element where this mixin was included. Use this mixin
 * only if you are not using the clearfix style from bootstrap, otherwise it
 * will get conflict. Useful when we need to reset the float in responsive style
 *
 * Param: string  $position  position of the clearfix (before, after, or both)
 */
/**
 * placeholder
 * return all placeholder style set
 */
.calculator-init-loading {
  padding: 10px 0;
  text-align: center;
}

.calculator-init-loading > img {
  width: 32px;
  height: 32px;
  display: inline-block;
}

#accommodation-form .form-fields-container .set-fields-row {
  display: none;
}

.vkcalculator.calculator-container {
  position: relative;
  padding: 0 19px;
  background-color: #FFF;
  border: solid 1px #D5D5D5;
}

.vkcalculator.calculator-container > ul {
  padding: 0;
  margin: 0;
}

.vkcalculator.calculator-container > ul .pricing-list {
  height: auto;
  min-height: 45px;
  padding: 8px 0 12px 80px;
  margin: 0;
  position: relative;
  border-bottom: solid 1px #D5D5D5;
}

.vkcalculator.calculator-container > ul .pricing-list.last-day, .vkcalculator.calculator-container > ul .pricing-list.last-result {
  border-bottom: 0;
}

.vkcalculator.calculator-container > ul .pricing-list.last-result {
  margin-left: 80px;
  padding-left: 0;
  border-top: solid 2px #2D415A;
}

.vkcalculator.calculator-container > ul .pricing-list i.fa-plus {
  width: 14px;
  height: 14px;
  display: block;
  position: absolute;
  right: -17px;
  top: -8px;
  font-size: 0.875em;
  color: #2D415A;
  text-align: center;
}

.vkcalculator.calculator-container > ul .pricing-list .day-label {
  position: absolute;
  left: 0;
  top: 0;
  line-height: 44px;
}

.vkcalculator.calculator-container > ul .pricing-list .calculation {
  position: relative;
}

.vkcalculator.calculator-container > ul .pricing-list .calculation:not(:last-of-type) {
  margin-bottom: 3px;
}

.vkcalculator.calculator-container > ul .pricing-list .calculation.hidden {
  display: none;
}

.vkcalculator.calculator-container > ul .pricing-list .calculation.discount .price-sum .unit-price {
  color: red;
}

.vkcalculator.calculator-container > ul .pricing-list .calculation .price-formula {
  padding-right: 142px;
  margin-bottom: 10px;
  text-align: right;
}

.vkcalculator.calculator-container > ul .pricing-list .calculation .price-formula > b, .vkcalculator.calculator-container > ul .pricing-list .calculation .price-formula i, .vkcalculator.calculator-container > ul .pricing-list .calculation .price-formula span {
  display: inline-block;
  vertical-align: middle;
  font-weight: 400;
}

.vkcalculator.calculator-container > ul .pricing-list .calculation .price-formula > .unit-price {
  margin-right: 4px;
  position: relative;
}

.vkcalculator.calculator-container > ul .pricing-list .calculation .price-formula > .unit-price > abbr {
  position: absolute;
  left: 0;
  top: 0;
  margin-top: 4px;
  margin-left: -16px;
  font-size: 0.75em;
  font-weight: 400;
  line-height: 1em;
  border: 0;
}

.vkcalculator.calculator-container > ul .pricing-list .calculation .price-formula > .unit-price > span {
  position: absolute;
  right: 0;
  font-size: 0.75em;
  font-weight: 400;
  line-height: 1em;
  margin-top: -4px;
  white-space: nowrap;
}

.vkcalculator.calculator-container > ul .pricing-list .calculation .price-formula > i.fa {
  font-size: 0.875em;
  margin-right: 4px;
}

.vkcalculator.calculator-container > ul .pricing-list .calculation .price-formula > .unit-count {
  min-width: 18px;
  margin-right: 4px;
  white-space: nowrap;
}

.vkcalculator.calculator-container > ul .pricing-list .calculation .price-formula > .final-calc-label {
  margin-right: 4px;
  font-weight: 700;
  color: #2D415A;
}

.vkcalculator.calculator-container > ul .pricing-list .calculation .price-formula > .final-calc-label > span {
  vertical-align: baseline;
  font-weight: inherit;
}

.vkcalculator.calculator-container > ul .pricing-list .calculation .price-formula > span.equals {
  width: 8px;
  height: 8px;
  position: relative;
  font-size: 0;
  line-height: 13px;
}

.vkcalculator.calculator-container > ul .pricing-list .calculation .price-formula > span.equals::before {
  content: '';
  width: 8px;
  height: 3px;
  display: block;
  background-color: #2D415A;
}

.vkcalculator.calculator-container > ul .pricing-list .calculation .price-formula > span.equals::after {
  content: '';
  width: 8px;
  height: 3px;
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #2D415A;
}

.vkcalculator.calculator-container > ul .pricing-list .calculation .price-sum {
  position: absolute;
  right: 0;
  top: 0;
  text-align: right;
}

.vkcalculator.calculator-container > ul .pricing-list .calculation .price-sum .unit-price {
  color: #2D415A;
  position: relative;
}

.vkcalculator.calculator-container > ul .pricing-list .calculation .price-sum .unit-price > abbr {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: -17px;
  font-size: 0.75em;
  font-weight: 400;
  line-height: 1em;
  float: left;
  border: 0;
}
