/**
 * Contact Us Page Style
 * =============================================================================
 * Author: Arvianto Dwi <arvianto.dwi@programmer.net>
 * Since : 2016-05-09 (v1.0.0)
 */

/* Headline */
.contact-headline-wrapper {
  height: 380px;
  background: {
    image: url(/Content2016/Images/layout/bg-contact-heading.jpg);
    position: center center;
    size: cover;
  }
}

/* Content */
.contact-us-content {
  margin: -91px auto 50px;

  /* Intro */
  .contact-intro {
    .article {
      > p {
        line-height: 1.6875em;

        &:nth-child(2) { margin: 33px 0 21px; }
        &:nth-child(3) { margin-bottom: 27px; }

        > a {
          font-weight: 700;
          color: $blue;
          text-decoration: underline;
        }

        &.main {
          height: 91px;
          margin-bottom: 0;
          padding-top: 13px;
          font-size: 1.125em;
          line-height: 1.611em;
          color: $blue_light;
        }
      }

      .vcard {
        width: 95%;
        padding: 11px 0;
        position: relative;
        border: solid 1px $greyD5;
        background-color: $white;

        > img.card-logo {
          @include size(148px, 34px);
          position: absolute;
          top: 50%;
          left: 15px;
          margin-top: -17px;
        }

        .card-address {
          padding-left: 178px;

          > p {
            margin-bottom: 0;
            padding: 0 15px;
            border-left: solid 1px $greyD5;

            > span > a {
              font-weight: bold;
              text-decoration: underline;
              color: $blue;
            }
          }
        }
      }
    }
  }

  /* Form */
  .contact-form-wrapper {
    .inner-wrapper {
      background-color: $global_body_bg;
      overflow: hidden;
      border-radius: 8px;
      box-shadow: 0 11px 27px rgba($blue, 0.44);

      .form-heading {
        @include size(100%, 91px);
        border-bottom: solid 2px $blue;

        > span {
          display: block;
          margin: 0;
          padding: 0 15px;
          font: {
            size: 1.6875em;
            weight: 300;
          }
          line-height: 89px;
          color: $blue;
        }
      }

      .form-fields {
        padding: 0 15px 73px;
        position: relative;

        .field-set {
          &:first-child { margin-top: 11px; }
          &:not(:last-of-type) { margin-bottom: 7px; }

          > label {
            font: {
              size: 0.875em;
              weight: 700;
            }
            color: $text_sub;
            line-height: 1em;
          }
          > textarea { min-height: 138px; }
        }

        > button {
          height: 56px;
          @include absoluteTo(bottom, left);
          box-sizing: content-box;

          > i.fa { margin-right: 9px; }
        }
      }
    }
  }
}