// main: ../venuekita.scss

/**
 * Home / Landing Page Style
 * =============================================================================
 */
.container {
  &.no-twbs {
    width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
    position: relative;
  }

  &.form-contain {
    @include size(100%, auto);
    max-width: 100%;
    position: absolute;
    top: 455px;
    left: 0;
    z-index: 11;
  }
}

/* Headline (BXSlider) */
.headline-wrapper {
  @include size(100%, 600px);
  position: relative;
  z-index: 10;

  .bx-wrapper,
  .bx-wrapper .bx-viewport,
  .bx-wrapper .bx-viewport #home-bxslider,
  .bx-wrapper .bx-viewport #home-bxslider > li {
    height: inherit !important;
    margin: 0;
    padding: 0;
  }

  .bx-wrapper {
    border: 0;
    box-shadow: none;

    #home-bxslider > li {
      background-size: cover;

      .overlay {
        @include size(100%, 100%);
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgba($black, .325);

        .content {
          width: 616px;
          position: absolute;
          top: 0;
          left: 50%;
          margin: 213px 0 0 -308px;

          > h4, > p {
            margin: 0;
            padding: 0;
            font-weight: 700;
            color: $white;
            text-align: center;
          }

          > h4 {
            font-size: 3.25em;
            line-height: 0.96153em;
            text-transform: uppercase;
          }

          > p {
            margin-top: 36px;
            font-size: 1.375em;
            line-height: 1em;
            text-transform: capitalize;
            white-space: nowrap;
          }
        }
      }
    }

    .bx-controls .bx-prev,
    .bx-controls .bx-next { background-image: url(/Content/Images/layout/controls.png); }
  }
}

/* Search Bar */
.container.form-contain {
  .search-home-form {
    @include size(825px, 100%, border-box);
    margin: 0 auto;
    padding: 0 8px;
    position: relative;
    background-color: $blue;
    z-index: 9;

    .venuekita-tagline {
      @include size(100%, 50px, border-box);
      position: relative;
      padding: 7px 0 6px;
      border-bottom: solid 1px #6b8197;
      text-align: center;

      > h2, > a {
        display: inline-block;
        font-size: 1.0625em;
        vertical-align: middle;
        margin: 0;
        padding: 0;
        outline: none;
      }

      > h2 {
        font-weight: 700;
        color: $white;
      }
      > a {
        color: $yellow;
        text-decoration: underline;
      }

      .guarantee-icon {
        @include size(70px, 70px);
        padding: 9px;
        border-radius: 88px;
        background: $blue url(/Content/Images/layout/tagline-guarantee.png) no-repeat center;
        position: absolute;
        left: 0;
        top: 0;
        margin: -30px 0 0 -36px;
        z-index: 4;
      }
    }

    .filter-fields {
      padding: 8px 0;
      position: relative;
      z-index: 3;

      input {
        font: {
          family: 'Lato', sans-serif !important;
          size: 0.875em !important;
        }
        color: $text_dark;
      }

      > * {
        height: 50px;
        box-sizing: border-box;
        outline: none;
        padding: 0 0 0 12px;
        margin: 0;
        border: 0;
        float: left;

        &:not(:last-child) {
          margin-right: 8px;
        }
      }
      > input[type=text] {
        width: 248px;
        padding-right: 12px;
      }
      > input[type=number] {
        width: 98px;
      }
      > button {
        width: 105px;
        padding: 0;
        font: {
          size: 1em;
          weight: 700;
        }
        color: $blue;
        background-color: $yellow;
        border-radius: 0;
      }

      .date-time-picker {
        width: auto;
        padding-left: 0 !important;
        position: relative;
        background-color: $white;

        .mobile-dtl-label, > input[type=datetime-local] { display: none; }

        > span.e-datetime-wrap {
          width: 163px !important;

          &.e-focus > span.e-in-wrap { box-shadow: none; }

          > span.e-in-wrap {
            border: none;

            > input {
              border: none;
              padding-left: 12px !important;
              color: #222 !important;

              &:focus { border: none !important; }
            }
          }
        }
      }
    }

    #modal {
      @include size(825px, 66px);
      position: absolute;
      left: 0;
      bottom: 0;
      display: none;
      text-align: center;
      background-color: rgba($black, .83);
      border-top: solid 1px #6B8197;
      z-index: 3;

      > img, span {
        display: inline-block;
        vertical-align: middle;
      }
      > img {
        @include size(32px, 32px);
        margin-top: 17px;
      }
      > span {
        height: 32px;
        margin-top: 17px;
        line-height: 32px;
        margin-left: 7px;
        color: white;
      }
    }
  }
}

/* Feature Overview */
.container.response {
  width: 846px;
  padding: 43px 0 57px;
  margin: 0 auto;

  .feature-heading {
    text-align: center;
    margin-bottom: 33px;
    font-size: 2.0625em;
    line-height: 1.42em;
    color: $blue_dark;
  }

  .feature-summaries {
    @include size(261px, auto);
    float: left;

    &:not(:last-of-type) { margin-right: 30px; }

    .illustration {
      position: relative;

      .icon-figure {
        @include size(128px, 128px);
        background: {
          repeat: no-repeat;
          position: center;
          color: $blue_light;
        }
        border-radius: 128px;
        margin: 0 auto;

        &.cheap { background-image: url(/Content/Images/layout/uvp-cheap.png); }
        &.variative { background-image: url(/Content/Images/layout/uvp-variative.png); }
        &.trusted { background-image: url(/Content/Images/layout/uvp-trusted.png); }
      }
    }

    > article {
      text-align: center;

      > h3 {
        margin: 0 0 3px;
        padding: 0;
        font-size: 1.0625em;
        color: $blue_dark;
      }
      > p {
        line-height: 1.3125em;
        color: $text_regular;
        margin-bottom: 0;
      }
    }
  }
}

/* Tutorial & Promotional Video */
.container.tutorial-pv {
  @include size(853px, 480px);
  padding: 0;
  position: relative;

  > iframe {
    @include size(100%, 100%);
    position: absolute;
    top: 0;
    left: 0;
  }
}

/* Clients List */
.clients-list {
  width: 100%;
  margin: 33px 0 0;
  padding: 42px 0 22px;
  background-color: $home_client_bg;

  .container {
    > h2 {
      padding: 0;
      margin-bottom: 33px;
      font-size: 1.375em;
      text-align: center;
      color: $blue_dark;
    }

    .client-slide-inner {
      width: 1140px;
      margin: 0 auto;

      > ul {
        margin-top: 20px;
        padding: 0;
        text-align: center;

        > li {
          margin: 0 0 50px;
          padding: 0 30px;
          display: inline-block;
          vertical-align: middle;
        }
      }
    }
  }
}

/* Media List */
.media-list {
  background-color: #d4d1d3;
  margin-top: -22px;

  .container {
    width: 800px;
    margin: 0 auto;

    > h3 {
      margin: 0;
      padding: 52px 0;
      float: left;
      color: #958d92;
    }
    > a {
      display: block;
      margin-top: 39px;
      float: right;

      &:not(:first-of-type) { margin-right: 30px; }

      > img {
        filter: grayscale(100%);
        filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
        -webkit-filter: grayscale(100%);
        opacity: 0.5;
        transition: opacity .45s, -webkit-filter .45s;

        &:hover {
          filter: grayscale(0);
          filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
          opacity: 1;
          -webkit-filter: grayscale(0);
        }
      }
    }
  }
}

/* Promo Intro */
.container.promo-intro {
  text-align: center;
  padding: 31px 0 60px;

  > h1 {
    font-size: 2.0625em;
    padding: 0;
    margin: 27px 0;
    color: $blue_dark;
  }
  > p {
    padding: 0 10%;
    margin: 0;
    font-size: 1.125em;
    line-height: 1.66666em;
    color: $text_regular;
  }
}

/* Testimonial */
#testimonial {
  height: 540px;
  margin-bottom: 60px;
  overflow: hidden;
  background: url(/Content/Images/Services/Temp/20150910105330.jpg) no-repeat center;
  background-size: cover;

  .inner-row {
    @include size(100%, 100%);
    background-color: rgba($blue, 0.77);

    .container {
      > h2 {
        margin: 0;
        padding: 36px 0;
        font: {
          size: 2.3125em;
          weight: 400;
        }
        color: $blue_light;
        text-align: center;
      }

      > ul {
        width: 960px;
        margin: 0 auto;
        padding: 0;
        position: relative;

        > li.customers {
          @include size(192px, auto);
          margin: 0;
          padding: 0;
          float: left;
          opacity: 0.65;

          &.active { opacity: 1; }

          .photo {
            @include size(67px, 67px);
            margin: 0 auto;
            border: solid 3px $white;
            border-radius: 56px;
            overflow: hidden;
            cursor: pointer;
          }
          .name-company {
            .name,
            .company {
              display: block;
              text-align: center;
              line-height: 1.375em;
              cursor: pointer;
            }

            .name {
              margin-top: 13px;
              font-weight: 700;
              color: $white;
            }
            .company { color: #CFCFCF; }
          }
        }
      }

      .indicator {
        @include size(960px, 1px);
        margin: 28px auto 0;
        background-color: $white;
        position: relative;
        border: {
          style: solid;
          color: $white;
          width: 0 10px;
        }

        > i.fa {
          @include size(192px, 25px);
          position: absolute;
          top: -24px;
          left: 0;
          font-size: 36px;
          text-align: center;
          color: #fff;
        }
      }

      .quotes {
        @include size(800px, 210px);
        margin: 31px auto;
        position: relative;
        display: flex;
        align-items: center;

        > q {
          width: 100%;
          display: block;
          margin: 0;
          font: {
            size: 1.6875em;
            weight: 300;
            style: italic;
          }
          line-height: 1.407;
          text-align: center;
          color: #fff;

          &::before, &::after {
            @include size(48px, 48px);
            display: inline-block;
            position: absolute;
            font: {
              family: FontAwesome;
              weight: normal;
              style: normal;
            }
            line-height: 52px;
            border: solid 2px $blue_mid;
            border-radius: 32px;
            color: $blue_mid;
          }
          &::before {
            content: '\f10d';
            top: 0;
            left: 0;
            margin: 0 0 0 -52px;
          }
          &::after {
            content: '\f10e';
            bottom: 0;
            right: 0;
            margin: 0 -52px 4px 0;
          }
        }
      }
    }
  }
}

/* Popular Venue List */
/* See ./components/_venue_item.scss for Venue Item style */

/* Blog Summary */
.container.blog-summary {
  margin-bottom: 50px;

  > h2 {
    margin: 60px 0 0;
    padding: 40px 0 33px;
    font: {
      size: 2.0625em;
      weight: 400;
    }
    color: $blue_dark;
    text-align: center;
    border: {
      style: solid;
      width: 1px 0 0;
      color: #D5D5D5;
    }
  }

  .article-list {
    padding: 0;
    margin: 0;

    > li {
      @include size(358px, auto, border-box);
      padding: 0 15px;
      margin-bottom: 0;
      float: left;

      &:not(:last-of-type) { margin-right: 30px; }

      .post-container {
        @include size(100%, auto);
        background-color: $white;
        border-radius: 8px;
        overflow: hidden;
        box-shadow: 0 11px 27px rgba($blue, .44);

        > section {
          height: 460px;
          position: relative;

          &:after {
            content: '';
            @include size(100%, 80px);
            position: absolute;
            left: 0;
            bottom: 50px;
            background-image: -moz-linear-gradient(90deg, rgb(255,255,255) 0%, rgba(255,255,255,0.45) 100%);
            background-image: -webkit-linear-gradient(90deg, rgb(255,255,255) 0%, rgba(255,255,255,0.45) 100%);
            background-image: -ms-linear-gradient(90deg, rgb(255,255,255) 0%, rgba(255,255,255,0.45) 100%);
          }

          .post-image {
            @include size(100%, auto);

            > a {
              display: block;
              position: relative;
              overflow: hidden;

              &:before {
                content: '';
                position: relative;
                display: block;
                top: 0;
                left: 0;
                padding-top: 56.25%;
              }

              > img {
                width: 100%;
                min-height: 100%;
                position: absolute;
                left: 0;
                top: 0;
                border-radius: 8px 8px 0 0;
              }
            }
          }

          .post-heading {
            margin: 9px 0;
            padding: 0 15px;

            > h3 {
              margin: 0;
              padding: 0;
              font: {
                size: 1.375em;
                weight: 700;
              }
              line-height: 1.363636em;
              color: $blue_dark;
              box-sizing: border-box;

              > a { color: inherit !important; }
            }

            .meta-info {
              padding: 0 0 9px;
              margin-bottom: 10px;
              border-bottom: solid 1px #D5D5D5;

              > p {
                font-size: 0.875em;
                line-height: 1.308em;
                display: inline-block;
                margin-bottom: 0;

                &:first-child { margin-right: 11px; }
              }
            }
          }

          .post-content {
            padding: 7px 15px 0;
            line-height: 1.625em;
          }

          .anchor-more {
            @include size(100%, 50px);
            display: block;
            position: absolute;
            left: 0;
            bottom: 0;
            font: {
              size: 1em;
              weight: 700;
            }
            line-height: 50px;
            text-align: center;
            color: $blue;
            background-color: $yellow;
            border-radius: 0 0 8px 8px;

            > i.fa {
              margin-left: 11px;
              vertical-align: middle;
            }
          }
        }
      }
    }
  }
}
