// main: ../venuekita.scss

/**
 * Order Confirmation Page Style
 * =============================================================================
 * Author : Arvianto Dwi <arvianto.dwi@programmer.net>
 * Since  : 2016-02-21 (v1.0.0)
 * Update : 2016-04-12 (v1.1.0) - Responsive improvement
 */

/* Order Walkthrough ======================================================== */
.order-walkthrough {
  padding: 71px 0 41px;
  background-color: #F1F1F1;

  .steps-inner-container {
    padding: 0 13px;
    position: relative;

    .bg-bar {
      @include size(95%, 14px);
      padding: 3px 15px;
      margin: 14px auto;
      position: relative;
      background-color: #D5D5D5;
      z-index: 2;

      .bg-bar-progress {
        @include size(0, 100%);
        background-color: #00C853;
        border-radius: 8px;
      }
    }

    .bg-step {
      @include size(42px, 42px);
      position: absolute;
      top: 0;
      border: solid 3px #D5D5D5;
      background-color: #D5D5D5;
      border-radius: 42px;

      &.nth-first { left: 13px; }
      &.nth-2 {
        left: 30%;
        margin-left: 13px;
      }
      &.nth-3{
        right: 30%;
        margin-right: 13px;
      }
      &.nth-last { right: 13px; }

      > i {
        display: block;
        position: relative;
        font: {
          size: 1.125em;
          weight: 700;
          style: normal;
        }
        line-height: 36px;
        text-align: center;
        color: #969696;
        z-index: 4;

        &.fa {
          font-size: 1.375em;

          &.fa-ellipsis-h { line-height: 39px; }
        }
        &.has-progress { color: $white; }
      }

      .bg-step-progress {
        @include size(0, 0);
        position: absolute;
        top: 50%;
        left: 50%;
        margin: 0;
        background-color: #00C853;
        z-index: 3;
        border-radius: 36px;
      }

      .step-label {
        @include size(136px, auto);
        position: absolute;
        bottom: -27px;
        left: 50%;
        margin-left: -68px;
        text-align: center;
        font-size: 0.9375em;
        line-height: 1em;
      }
    }
  }
}

/* Checkout Base Content ==================================================== */
.checkout-content {
  padding-top: 20px;
  margin-bottom: 80px;

  .checkout-form { padding-left: 0; }
  .order-summary { padding-right: 0; }
}

/* Form Set ================================================================= */
.checkout-content .checkout-form .form-set {
  &:not(:last-child) { margin-bottom: 21px; }

  .set-heading {
    margin: 30px 0 21px;
    font: {
      size: 1.25em;
      weight: 700;
    }
    line-height: 1em;
    color: $text_regular;
  }

  .form-fields-container {
    background-color: #F1F1F1;
    border: solid 1px #D5D5D5;

    .set-fields-row {
      width: 455px;
      margin: 0 auto;
      padding-bottom: 20px;
      border-bottom: solid 1px #D5D5D5;

      &:last-child { border-bottom: 0; }

      .fields-heading {
        height: 50px;
        position: relative;
        margin-bottom: 7px;
        border-bottom: solid 1px #D5D5D5;

        > span {
          @include size(142px, 50px);
          display: inline-block;
          position: absolute;
          top: 0;
          left: 0;
          font: {
            size: 1.0625em;
            weight: 700;
          }
          line-height: 46px;
          text-align: center;
          color: $text_regular;
          border-bottom: solid 4px $blue_mid;
        }
      }

      .form-field {
        padding-top: 13px;

        &.disabled-field { display: none; }

        &:first-of-type { padding-top: 20px; }

        > label {
          @include size(194px, 38px);
          float: left;
          padding-left: 30px;
          margin: 0;
          font-size: 0.875em;
          color: #696969;
          line-height: 38px;

          &.is-block-label { display: block; }
          &.inline-label {
            @include size(224px, auto);
            padding-left: 0;
            margin-left: 194px;
            line-height: normal;
            cursor: pointer;

            > input[type=checkbox] { margin-right: 3px; }
            > span {
              display: inline-block;
              vertical-align: middle;
            }
          }
        }

        > select,
        > textarea,
        > input[type=text],
        > input[type=number],
        > input[type=email] { width: 224px; }

        > textarea {
          @include size(388px, auto);
          min-height: 148px;
          margin-left: 30px;
        }

        .residential-description,
        .conditional-description {
          width: 418px;
          padding-left: 194px;
          margin-top: 8px;
          display: inline-block;
          vertical-align: middle;
          color: #696969;
          font-size: 0.875em;
          line-height: 1.1428em;

          &.hidden { display: none; }
        }
      }
    }
  }

  #order-to-payment {
    height: 66px;
    margin: -1px 0 0;

    > img { margin-right: 5px; }
  }
}

/* Order Sumary ============================================================= */
.checkout-content .order-summary {
  .meeting-duration {
    position: relative;
    margin-bottom: 30px;
    padding: 13px 0;
    background-color: $white;
    border: solid 1px #D5D5D5;
    text-align: center;

    .arrow-go-to {
      @include size(32px, 32px);
      position: absolute;
      top: 50%;
      left: 50%;
      margin: -16px 0 0 -16px;
      border: solid 1px #7A7A7A;
      border-radius: 32px;
      color: $text_sub;
      text-align: center;

      > i.fa { line-height: 30px; }
    }
    .date-container {
      text-align: center;

      &.start-date { padding: 0 16px 0 0; }
      &.end-date { padding: 0 0 0 16px; }

      > span {
        display: block;
        line-height: 1em;
        font-weight: 700;

        &.date-label {
          font-size: 0.875em;
          color: #696969;
          margin-bottom: 6px;
        }
        &.date-string {
          color: $text_regular;
        }
      }
    }
  }

  .room-overview {
    position: relative;
    margin-bottom: 26px;

    .room-image {
      width: 164px;
      position: absolute;
      left: 0;
      top: 0;
      overflow: hidden;

      &::before {
        content: '';
        display: block;
        padding-top: 56.25%;
      }

      > img {
        @include size(100%, auto);
        position: absolute;
        left: 0;
        top: 0;
      }
    }
    .address-name {
      padding-left: 177px;

      > span {
        display: block;
        color: $text_regular;

        &:first-child {
          font: {
            size: 1.25em;
            weight: 700;
          }
          line-height: 1em;
          margin-bottom: 14px;
        }
        &:nth-child(2) {
          margin-bottom: 3px;
          font-weight: 700;
          line-height: 1.25em;
        }
        &:last-child {
          font-size: 0.875em;
          line-height: 1.4285em;
        }
      }
    }
  }

  #calculator {
    #stack-expander {
      display: none;
      padding-bottom: 4px;
      border-top: solid 1px #D5D5D5;

      > button {
        width: 100%;
        background: none;
        padding: 2px 0 0;
        margin: 0;
        font-size: 0.875em;
        text-align: center;
        line-height: 1em;
        color: $text_sub;
        border: 0;
        outline: none;

        > i.fa {
          display: block;
          margin-top: 2px;
          font-size: 16px;
        }
      }
    }
  }

  .secure-badge {
    width: auto;
    max-width: 265px;
    margin-top: 20px;
    display: inline-block;
    border: solid 1px $greyD5;
    background-color: $white;
    text-align: center;

    .badge-heading {
      padding: 10px 0 9px;
      border-bottom: solid 1px $greyD5;
    }

    > ul {
      padding: 11px 10px 10px;

      > li {
        display: inline-block;
        vertical-align: middle;
        font-size: 0;
        background: {
          image: url(/Content2016/Images/layout/sprite-banking.png);
          repeat: no-repeat;
        }

        &:not(:first-of-type) { margin-left: 7px; }
        &:nth-of-type(7) { margin-left: 0; }

        &.card {
          @include size(32px, 21px);
          margin-bottom: 10px;

          &.visa { background-position: 0 0; }
          &.master { background-position: 0 -23px; }
          &.jcb { background-position: 0 -46px; }
          &.atm-bersama { background-position: 0 -69px; }
          &.prima { background-position: -34px 0; }
          &.alto { background-position: -34px -23px; }
        }
        &.brand {
          &.mandiri {
            @include size(63px, 20px);
            background-position: -34px -47px;
          }
          &.bca {
            @include size(60px, 19px);
            background-position: -34px -71px;
          }
        }
      }
    }
  }
}

/* Animation Styling ======================================================== */
.order-walkthrough.animate .bg-step.nth-first > .bg-step-progress {
  animation-name: step-1-progress;
  animation-duration: .65s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
}
.order-walkthrough.animate .bg-bar-progress {
  animation-name: bar-progress;
  animation-duration: 1.29s;
  animation-timing-function: linear;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
}
.order-walkthrough.animate .bg-step.nth-2 > .bg-step-progress {
  animation-name: step-2-progress;
  animation-duration: .65s;
  animation-timing-function: ease-out;
  animation-delay: 1.35s;
  animation-fill-mode: forwards;
}