// main: ../venuekita.scss

/**
 * Venue List Page Style
 * =============================================================================
 */
 /* Main List Content */
#main.main-list {
  @include size(60%, auto, border-box);
  min-height: 100%;
  padding: 50px 0 0;
  position: absolute;
  top: 0;
  left: 0;

  #ContentPlaceHolder1_lblSearchInfo {
    display: block;
    padding: 0 3%;

    > br { display: none; }
    > h1 {
      font-size: 2em;
      text-align: left;
    }
  }

  .filter-result-container {
    @include size(100%, auto, border-box);
    padding: 0 3%;
  }
}

/* Filter */
.filterlistform {
  display: block;
  position: relative;
  padding: 0 3%;
  border: {
    style: solid;
    color: #ddd;
    width: 1px 0 1px;
  }

  .filter-container {
    @include size(100%, auto);
    position: relative;

    &.advanced { display: none; }

    .filter-set {
      padding: 13px 0;

      &.bench-set { display: none; }

      .single-set-field {
        float: left;
        position: relative;
        margin-right: 3.5%;

        &.two-columns { width: 48.25%; }
        &.three-columns { width: 31%; }
        &.four-columns { width: 22.375%; }
        &.two-of-three { width: 65.5%; }
        &.three-of-four { width: 74.125%; }
        &.full-row {
          width: 100%;
          margin-right: 0;
        }
        &.has-select {
          &:after {
            content: '\f13a';
            width: 24px;
            height: 36px;
            font-family: FontAwesome;
            font-size: 16px;
            color: #797979;
            position: absolute;
            bottom: 1px;
            right: 1px;
            text-align: center;
            line-height: 38px;
          }
        }
        &:last-of-type { margin-right: 0; }

        > label {
          margin: 0 0 3px;
          padding: 0;
          display: block;
          font: {
            size: 16px;
            weight: 400;
          }
          text-align: left;
        }
        > input {
          width: 100%;
          height: 38px;
          margin: 0;
          box-sizing: border-box;
          color: #222;
          font-size: 13px;
          border: solid 1px #bebebe;

          &[type=number] {
            padding: 0 6px 0 8px;
          }
          &:focus {
            border-color: #EA5FAF;
            box-shadow: 0 0 4px rgba(215, 23, 133, 0.55);
            outline: none;
          }
        }
        > select {
          width: 100%;
          height: 38px;
          margin: 0;
          box-sizing: border-box;
          border-radius: 0;
          color: #222;
          font-size: 13px;
          border: solid 1px #bebebe;
          -webkit-appearance: none;
          -moz-appearance: none;

          &:focus {
            border-color: #EA5FAF;
            box-shadow: 0 0 4px rgba(215, 23, 133, 0.55);
            outline: none;
          }
        }
        > input.btnfilter {
          @include size(100%, 100%, border-box);
          font: {
            size: 16px;
            weight: 700;
          }
          padding: 10px 15px;
          display: block;
          color: $white;
          border-width: 0;
          border-bottom: solid 4px #9B1060;
        }

        .datetime-wrapper {
          width: 100%;
          height: 38px;

          > span.e-datetime-wrap {
            width: 100% !important;
            height: 100%;
            display: block;

            &.e-focus > .e-in-wrap {
              border-color: #EA5FAF;
              box-shadow: 0 0 4px rgba(215, 23, 133, 0.55);
            }

            .e-datetimepicker.e-input {
              font: {
                family: Lato, sans-serif;
                size: 13px;
              }
              color: #222 !important;
            }
          }
        }

        .live-label {
          font-size: 13px;
          text-align: center;
          margin-top: 2px;
        }

        .layout-rows {
          height: auto;
          clear: both;
          padding: 14px 7px;
          border: solid 1px #DDD;
          background-color: rgba(255,255,255,0.65);

          .filterform2 {
            width: 13%;
            margin-right: 1.5%;
            float: left;
            background-color: transparent;
            text-align: center;
            position: relative;

            &:last-of-type { margin-right: 0; }

            > label {
              @include size(64px, 64px, border-box);
              margin: 0;
              padding: 0;
              display: inline-block;
              cursor: pointer;
              border: 7px solid #D4D4D4;
              border-radius: 15px;

              &.r_on {
                display: inline-block;
                opacity: 1;
                -webkit-filter: grayscale(0);
                filter: grayscale(0);
              }
              &.venue-layout-banquet { background-image: url(/Content/Images/layout/venue-layout-banquet.png); }
              &.venue-layout-boardroom { background-image: url(/Content/Images/layout/venue-layout-boardroom.png); }
              &.venue-layout-classroom { background-image: url(/Content/Images/layout/venue-layout-classroom.png); }
              &.venue-layout-doubleushape { background-image: url(/Content/Images/layout/venue-layout-doubleushape.png); }
              &.venue-layout-roundtable { background-image: url(/Content/Images/layout/venue-layout-roundtable.png); }
              &.venue-layout-theatre { background-image: url(/Content/Images/layout/venue-layout-theatre.png); }
              &.venue-layout-ushape { background-image: url(/Content/Images/layout/venue-layout-ushape.png); }

              > input[type=checkbox] {
                visibility: hidden;
                position: absolute;
              }
            }

            > span {
              width: 100%;
              display: block;
              margin-top: 5px;
              text-align: inherit;
              font-size: 0.875em;
              line-height: 1.357em;
              white-space: nowrap;

              &.is-overlap { margin-left: -7px; }
            }
          }
          .searchfilter {
            width: 21.75%;
            height: auto;
            float: right;

            > a {
              width: 100%;
              height: 64px;
              display: block;
              box-sizing: border-box;
              text-align: center;
              padding: 19px 0 16px;
            }
          }
        }

        .filter-trigger-container {
          @include size(auto, 40px);
          text-align: center;

          #advanced-trigger {
            margin-right: 3px;
            line-height: 38px;
          }
          > i.fa {
            @include size(24px, 38px);
            text-align: center;
            line-height: 38px;
            font-size: 16px;
            color: #C90676;
          }
        }
      }
    }
  }
}

/* Venue Item */
// See components/_venue_item.scss for Venue Item style

/* Pagination */
.pagination {
  @include size(100%, auto, border-box);
  padding: 0 3%;
  margin-top: 35px;

  .pager {
    text-align: center;
    list-style: none;
    padding: 0;
    margin: 0;

    > li {
      padding: 0;
      margin: 0;

      &.navigator {
        &.previous { float: left; }
        &.next { float: right; }

        > a {
          display: block;
          padding: 5px 14px;
          color: #D71785;
          background-color: $white;
          border: 1px solid #D71785;
          border-radius: 15px;

          &:hover,
          &:focus {
            text-decoration: none;
            background-color: #D71785;
            color: $white;
          }
        }
      }

      &.indicator {
        @include size(auto, inherit);
        display: inline-block;
        line-height: 39px;
      }
    }
  }
}

/* Map */
#venuekita-map-wrapper {
  @include size(40%, 100%, border-box);
  padding: 50px 0 0;
  position: fixed;
  top: 0;
  right: 0;
}
