/**
 * Venue Detail Page Style
 * =============================================================================
 * Author : Arvianto Dwi <arvianto.dwi@programmer.net>
 * Since  : 2015-12-23
 * Updated: 2016-04-22 (v3.0.0) - Normalize using new core v2 style.
 */

/*.container.no-twbs {
  width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
  position: relative;
}*/

/* Heading ================================================================== */
.venue-heading {
  @include size(100%, 742px);
  padding-top: 50px;
  overflow: hidden;
  position: relative;

  &:before {
    content: '';
    @include size(25.86%, 742px);
    background: {
      image: url(/Content2016/Images/layout/bg-venue-detail-heading.png);
      repeat: no-repeat;
      position: right center;
      size: cover;
    }
    @include absoluteTo(top, left);
    z-index: 2;
  }
  &:after {
    content: '';
    @include size(74.14%, 742px);
    background-color: $white;
    @include absoluteTo(top, right);
    z-index: 1;
  }

  .container {
    position: relative;
    z-index: 3;

    /* In-venue Navigation */
    .scroller-toggle {
      height: 42px;
      margin-top: 40px;
      padding: 0;

      > ul {
        height: inherit;
        padding: 0 21px 0 0;
        margin: 0;
        text-align: right;

        > li {
          @include size(auto, inherit);
          padding: 0;
          margin: 0;
          display: inline-block;

          &:not(:last-child) {
            padding-right: 13px;
            margin-right: 11px;
            border-right: solid 1px $greyD5;
          }
          &:hover > a {
            color: $blue;
            text-decoration: none;
            transition: color .3s;
          }
          &.active > a { color: $blue; }

          > a {
            @include size(auto, inherit);
            display: inline-block;
            font: {
              size: 1.0625em;
              weight: 700;
            }
            line-height: 42px;
            color: $text_light;

            > i.fa {
              @include size(auto, inherit);
              display: inline-block;
              vertical-align: top;
              margin-right: 13px;
              font-size: 1.5em;
              line-height: inherit;
              text-align: center;
            }
          }
        }
      }
    }

    /* Heading Info */
    .heading-info {
      height: 475px;
      padding: 0;
      margin-top: 14px;
      background-color: $white;
      box-shadow: 0 0 27px 0 rgba($black, 0.27);

      /* Slider */
      .venue-featured-slider {
        height: inherit;
        padding: 0;
        overflow: hidden;

        .bx-wrapper {
          height: inherit !important;
          margin: 0;
          border: 0;

          .bx-viewport {
            height: inherit !important;

            > ul, li {
              padding: 0;
              margin: 0;
            }
            #slider {
              @include size(100% !important, 100% !important);

              > li {
                @include size(100% !important, 100% !important);

                > img {
                  @include size(auto !important, 100% !important);
                  max-width: 9999%;
                  min-width: 100%;
                }
              }
            }
          }
        }
      }

      /* Pricing */
      .venue-pricing {
        height: 100%;
        position: relative;

        > h2 {
          margin: 24px 0 17px;
          font: {
            size: 1.875em;
            weight: 300;
          }
          text-align: center;
          color: $blue_dark;
          line-height: 1.3125em;
        }

        .pricing-tip {
          @include size(100%, 84px);
          padding: 19px 15px 21px;
          position: absolute;
          top: -84px;
          left: 0;
          background-color: $blue_mid;

          &:after {
            content: '';
            @include size(0, 0);
            position: absolute;
            bottom: -16px;
            left: 50%;
            margin-left: -16px;
            border: {
              top: 16px solid $blue_mid;
              left: 16px solid transparent;
              right: 16px solid transparent;
            }
          }
          
          > h2 {
            margin: 0;
            padding: 0;
            font: {
              size: 1em;
              weight: 400;
            }
            line-height: 1.375em;
            color: $white;
            text-align: center;
          }
        }

        .price-detail {
          width: 100%;
          padding: 0 15px;
          text-align: center;

          &.has-1-prices .price-container {
            padding: {
              top: 16px;
              bottom: 16px;
            }
          }
          &.has-2-prices .price-container {
            padding: {
              top: 35px;
              bottom: 35px;
            }
          }
          &.has-3-prices .price-container {
            padding: {
              top: 16px;
              bottom: 16px;
            }

            &:first-of-type { padding-top: 0; }
          }

          .price-container {
            padding: {
              left: 0;
              right: 0;
            }

            &:not(:last-of-type) { border-bottom: solid 1px $greyD5; }

            .center-bound {
              display: inline-block;
              text-align: right;

              .price {
                position: relative;
                display: inline-block;
                font: {
                  weight: 400;
                  size: 1.688em;
                }
                line-height: 1em;
                color: $blue;

                &.has-discount {
                  margin: 0;
                  font-size: 1em;
                  color: $text_light;
                  text-decoration: line-through;

                  > abbr { left: -12px; }
                  > span { display: none; }

                  ~ .price { margin: 0; }
                }
                &.unavailable {
                  margin-bottom: 13px;
                  float: none;
                  font: {
                    size: 1em;
                    style: italic;
                  }
                  color: $text_regular;
                  line-height: 26px;
                  background: none;
                  border-bottom: 0;
                }

                > abbr {
                  position: absolute;
                  top: -1px;
                  left: -17px;
                  font: {
                    size: 0.519em;
                    weight: 400;
                  }
                  line-height: 1em;
                  border: 0;
                }
                > span {
                  font: {
                    size: 0.519em;
                    weight: 400;
                  }
                  float: right;
                  line-height: 1em;
                  margin-top: 2px;
                }
              }
            }
          }
        }

        .order-toggle {
          height: 66px;
          line-height: 66px;
          @include absoluteTo('bottom', 'left');
          z-index: 12;

          &:hover { text-decoration: none; }
        }
      }
    }
  }
}

/* Content ================================================================== */
.venue-content {
  position: relative;

  /* Venue's Rooms Listing */
  .rooms-section {
    margin-top: -142px;
    padding-top: 60px;
    position: relative;

    /* Announcement */
    // See components/_announcement_banner.scss

    /* Rooms Filter */
    .filter {
      position: absolute;
      left: 0;
      top: 60px;
      z-index: 13;

      #filter-form {
        height: auto;

        .fields-inner-container {
          position: relative;
          padding: 0 13px 65px;
          background-color: $greyF1;
          border: {
            style: solid;
            width: 1px 1px 0;
            color: $greyD5;
          }

          .fields-heading {
            height: 81px;
            display: block;
            font-size: 1.25em;
            line-height: 81px;
            color: $text_regular;
          }

          .fields-wrapper {
            border-top: solid 1px $greyD5;

            .field-row {
              margin-top: 14px;

              label {
                display: inline-block;
                margin: 0;
                font: {
                  size: 0.875em;
                  weight: 700;
                }
                line-height: 1em;
                color: $grey69;
                vertical-align: top;

                &.inline-label {
                  margin: 0 0 0 4px;
                  padding-top: 2px;
                  line-height: 1.285em;
                  vertical-align: text-top;
                  cursor: pointer;
                }
              }

              .field-input {
                margin-top: -4px;
                position: relative;

                > input[type=datetime-local] { display: none; }
                > input[type=checkbox] {
                  &:disabled ~ label {
                    color: $text_light;
                    cursor: not-allowed;
                  }
                }
              }
            }
          }

          > input[type=submit] {
            height: 46px;
            margin-left: -1px;
            @include absoluteTo('bottom', 'left');
            box-sizing: content-box;
          }
        }
      }
    }

    /* Rooms Listings */
    .listings {
      position: relative;
      z-index: 1;

      .listing-item {
        margin: 0 0 23px;
        display: none;

        &:last-child { margin-bottom: 19px; }

        &.most-suitable { display: block; }

        .item-heading {
          background-color: $text_regular;
          padding: 15px 17px;
          border-bottom: solid 3px $blue_mid;
          font-size: 1.25em;
          color: $white;

          > article > span,
          > article > h2 {
            margin: 0;
            padding: 0;
            font: {
              size: inherit;
              weight: 700;
            }
            line-height: 1em;
            text-transform: uppercase;
            color: inherit;
            display: inline-block;
          }

          > article > p {
            margin: 0;
            font-size: 0.7em;
            line-height: 1.428em;
            color: inherit;

            > i.fa {
              margin-right: 7px;
              font-size: 1.428em;
              vertical-align: bottom;
            }

            .mobile-filter-trigger {
              display: none;
              font-size: 14px;

              > span:last-child { text-decoration: underline; }
            }
          }
        }

        .item-content {
          position: relative;

          .specification {
            padding: 0;
            border: {
              style: solid;
              width: 0 0 1px 1px;
              color: $greyD5;
            }

            > figure {
              width: 100%;
              position: relative;
              margin: 0;
              border: solid 1px $white;
              overflow: hidden;

              &:before {
                content: '';
                display: block;
                padding-top: 56.25%;
              }

              > img {
                width: 100%;
                @include absoluteCenterPercent(100%, null);
              }
            }

            .row {
              margin: 0;
              border-top: solid 1px $greyD5;
              background-color: $white;

              .room-layout {
                padding-bottom: 15px;
                border-right: solid 1px $greyD5;

                > h3 {
                  margin: 15px 0;
                  font: {
                    size: 1.0625em;
                    weight: 700;
                  }
                  color: #444;
                }
                > ul > li {
                  width: 50%;
                  padding: 0;
                  margin: 0 0 8px;
                  position: relative;
                  float: left;

                  &:nth-child(7) { margin-bottom: 0; }
                  &.unsupported { opacity: 0.4; }

                  .layout-icon {
                    @include size(36px, 36px);
                    display: inline-block;
                    background: {
                      repeat: no-repeat;
                      position: center;
                      size: cover;
                    }
                    vertical-align: top;
                    opacity: 0.75;
                    filter: grayscale(100%);
                    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");

                    &.u-shape { background-image: url(/Content2016/Images/layout/venue-layout-ushape.png); }
                    &.double-u-shape { background-image: url(/Content2016/Images/layout/venue-layout-doubleushape.png); }
                    &.reception { background-image: url(/Content2016/Images/layout/venue-layout-banquet.png); }
                    &.theater { background-image: url(/Content2016/Images/layout/venue-layout-theatre.png); }
                    &.round-table { background-image: url(/Content2016/Images/layout/venue-layout-roundtable.png); }
                    &.boardroom { background-image: url(/Content2016/Images/layout/venue-layout-boardroom.png); }
                    &.classroom { background-image: url(/Content2016/Images/layout/venue-layout-classroom.png); }
                  }
                  .layout-name,
                  .layout-capacity {
                    position: absolute;
                    left: 0;
                    padding-left: 46px;
                    line-height: 1em;
                    color: $text_regular;
                  }
                  .layout-name {
                    top: 1px;
                    font-size: 0.875em;
                  }
                  .layout-capacity {
                    bottom: 1px;
                    font-weight: 700;
                  }
                }
              }
              .room-dimension {
                padding-bottom: 15px;

                > h3 {
                  margin: 15px 0;
                  font: {
                    size: 1.0625em;
                    weight: 700;
                  }
                  color: $text_regular;
                }
                > ul > li {
                  padding: 0;
                  margin-bottom: 16px;
                  line-height: 1em;

                  &:last-child { margin-bottom: 0; }

                  > span {
                    display: inline-block;

                    &:first-child {
                      width: 60px;
                      margin-right: 7px;
                    }
                  }
                }
              }
            }
          }

          .calculator,
          .holiday {
            height: 100%;
            @include absoluteTo(top, right);
            padding: 0;
            background-color: $greyF1;
            border: {
              style: solid;
              width: 0 1px 1px;
              color: $greyD5;
            }
          }

          .calculator {
            .calc-row {
              position: relative;
              padding: 46px 15px 0;
              margin: 0 0 22px;

              > ul {
                border-bottom: solid 2px $blue;

                > li {
                  padding: 0;

                  &.calc-title {
                    font: {
                      size: 1.0625em;
                      weight: 700;
                    }
                    color: $text_regular;
                    line-height: 1em;
                    margin-bottom: 23px;
                  }
                  &.calc-item {
                    margin-bottom: 13px;

                    > span {
                      line-height: 18px;

                      &:nth-of-type(1) {
                        @include size(18px, 18px);
                        padding: 1px 0;
                        font: {
                          size: 0.625em;
                          weight: 700;
                        }
                        line-height: 12px;
                        text-align: center;
                        border: solid 2px #444;
                        border-radius: 18px;
                        margin-right: 3px;
                      }
                      &:nth-of-type(3) {
                        padding-right: 12px;
                      }

                      > abbr { border: 0; }
                    }
                  }
                }
              }

              > i.fa {
                position: absolute;
                right: 0;
                bottom: 0;
                margin: {
                  right: 6px;
                  bottom: 32px;
                }
                padding-left: 2px;
                font-size: 0.8125em;
                line-height: 1em;
                color: $blue;
                background-color: $greyF1;
              }

              .price-result {
                float: right;
                display: inline-block;
                position: relative;
                margin-top: 13px;
                padding-right: 12px;
                font: {
                  weight: 400;
                  size: 1.375em;
                }
                line-height: 1em;
                color: $blue;

                > abbr {
                  position: absolute;
                  top: -1px;
                  left: -17px;
                  display: inline-block;
                  font:{
                    size: 0.636em;
                    weight: 400;
                  }
                  line-height: 1em;
                  border: 0;
                }
              }
            }

            .proceed-payment {
              height: 64px;
              @include absoluteTo(bottom, left);
              margin: 0 0 -1px -1px;
              line-height: 64px;
              box-sizing: content-box;

              > img { margin-right: 5px; }
            }
          }

          .holiday {
            > i.room-closed {
              @include size(149px, 136px);
              display: block;
              margin: 134px auto 0;
              background: url(/Content2016/Images/layout/room-closed-tag.png) no-repeat;
            }
            > p {
              padding: 0 19px;
              margin: 17px 0 0;
              text-align: center;
              line-height: 1.438em;
            }
            .filter-focus-trigger {
              height: 64px;
              @include absoluteTo(bottom, left);
              margin: 0 0 -1px -1px;
              box-sizing: content-box;
            }
          }
        }
      }
    }

    /* Rooms Show / Hide Trigger */
    #listing-items-toggle {
      height: 48px;
      text-align: center;

      > div {
        display: inline-block;
        vertical-align: middle;
        color: $text_sub;
      }
      > a {
        height: 40px;
        padding: 0 17px;
        margin: 4px 0 4px 21px;
        display: inline-block;
        vertical-align: middle;
        border: {
          width: 2px;
          radius: 20px;
        }
        line-height: 36px;
      }
    }
  }

  /* Venue's Information */
  .info-section {
    margin: 0;
    padding-top: 60px;

    .misc-info {
      .info-item {
        padding: 0 2px;

        &:not(:first-child) { margin-top: 21px; }

        .title {
          display: block;
          margin-bottom: 10px;
          font-size: 1.25em;
          line-height: 1em;
          color: $text_regular;
        }

        > ul > li {
          margin: 0 5px 5px 0;
          padding: 6px 5px;
          float: left;
          font-weight: 700;
          line-height: 1em;
          color: $grey69;
          border: solid 1px $greyD5;
          background-color: $white;

          > i.fa {
            display: inline-block;
            margin-right: 6px;
            text-align: center;
          }
          > a {
            color: inherit;
            font: inherit;
          }

          .skype_c2c_container {
            .skype_c2c_logo_img { vertical-align: top !important; }
            .skype_c2c_text_span {
              font: {
                family: 'Lato', sans-serif !important;
                weight: 700 !important;
              }
              color: $grey69 !important;
              line-height: 1em;
            }
          }
        }
      }
    }
    .about-venue {
      border: solid 1px $greyD5;
      background-color: $white;

      > article {
        padding: 13px 2px;

        > h1 {
          margin: 15px 0 25px;
          font: {
            size: 1.25em;
            weight: 700;
          }
          color: $blue_dark;
        }
        > p {
          margin-bottom: 0.8125em;
          line-height: 1.5625em;

          &:last-of-type { margin-bottom: 0; }
        }
      }
    }
  }

  /* Venue's Location */
  .map-section {
    margin: 0;
    padding-top: 60px;

    .map-heading {
      background-color: $text_regular;
      padding: 15px 17px;
      border-bottom: solid 3px $blue_mid;
      position: relative;
      color: $white;

      > article > h2 {
        margin: 0 18px 0 0;
        padding: 0;
        font: {
          size: 1.25em;
          weight: 700;
        }
        line-height: 1em;
        text-transform: uppercase;
        color: inherit;
        display: inline-block;
      }
      > article > p {
        margin: 0;
        font-size: 0.7em;
        line-height: 1.428em;
        color: inherit;
        display: inline-block;
        vertical-align: baseline;

        > i.fa {
          margin-right: 7px;
          font-size: 1.428em;
          vertical-align: bottom;
        }
      }

      .open-map-anchor {
        @include size(auto, 40px);
        position: absolute;
        top: 50%;
        right: 17px;
        padding: 0 17px;
        margin-top: -20px;
        border-radius: 20px;
        border-width: 2px;
        line-height: 36px;
      }
    }

    #map-wrapper {
      @include size(100%, 428px);
      padding: 0;
      border: solid 1px $greyD5;
      overflow: hidden;
    }
  }

  /* Similar Venue Listing */
  .similar-listing {
    margin: 50px -15px 80px;

    > h2 {
      margin-top: 0;
      font-size: 1.25em;
      color: $text_regular;
    }
  }
}