// main: ../venuekita.scss

/**
 * Venue List Page Style
 * =============================================================================
 * Author: Arvianto Dwi <arvianto.dwi@programmer.net>
 * Since : 2016-03-06
 */

/* Map */
#venuekita-map-wrapper {
  @include size(33.333%, 100%, border-box);
  padding: 50px 0 0;
  position: fixed;
  top: 0;
  right: 0;
}

/* Main List Content */
#main.main-list {
  @include size(66.666%, auto, border-box);
  min-height: 100%;
  padding: 50px 0 0;
  position: absolute;
  top: 0;
  left: 0;

  .venue-list-heading,
  .venue-list-catalog {
    @include size(100%, auto, border-box);
    position: relative;
  }

  .venue-list-catalog {
    padding: 0 3%;
  }
}

/* Heading */
.venue-list-heading {
  padding: 17px 3% 0;

  #ContentPlaceHolder1_lblSearchInfo {
    display: block;
    position: relative;
    padding-bottom: 17px;
    border-bottom: solid 1px #D5D5D5;

    > br { display: none; }
    > h1 {
      margin: 0;
      padding: 0 150px 0 0;
      font-size: 1.5em;
      line-height: 1.458em;
      color: $blue;
      text-align: left;
      box-sizing: border-box;
    }
  }

  #filter-form-trigger {
    @include size(150px, 34px, border-box);
    position: absolute;
    top: 0;
    right: 0;
    margin: 17px 3% 0 0;
    padding: 0 15px;
    line-height: 1em;
    color: $text_light;
    background-color: #E9E9E9;
    border: solid 1px #D5D5D5;
    z-index: 100;
    outline: none;
    transition: color .25s;

    &.active {
      width: auto;
      position: fixed;
      top: 50px;
      right: 33.333%;
      padding: 0;
      font-size: 1.375em;
      color: $blue;
      background-color: transparent;
      border: 0;
    }

    > i.fa, span {
      display: inline-block;
      vertical-align: middle;
    }
    > span {
      margin-left: 3px;
      font-size: 0.875em;
    }
  }
}

/* Filter */
#filter-form-container {
  @include size(100%, 100%);
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba($black, .8);
  z-index: 99;

  .filter-fields {
    @include size(66.666%, auto, border-box);
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    padding: 70px 3% 43px;
    background-color: $global_body_bg;
    z-index: 99;
    overflow: hidden;

    .field-row {
      @include size(65%, auto);
      position: relative;
      margin: 0 auto;

      .filter-set {
        padding: 13px 0;

        &.bench-set { display: none; }
        &.no-padding { padding: 0; }

        .single-set-field {
          float: left;
          position: relative;
          margin-right: 3.5%;

          //&.two-columns { width: 48.25%; }
          //&.three-columns { width: 31%; }
          //&.two-of-three { width: 65.5%; }
          //&.one-of-four { width: 22.375%; }
          //&.three-of-four { width: 74.125%; }
          &.one-of-three { width: 31%; }
          &.two-of-three { width: 65.5%; }
          &.full-row {
            width: 100%;
            margin-right: 0;
          }
          &.has-select {
            &:after {
              content: '\f13a';
              width: 24px;
              height: 36px;
              font-family: FontAwesome;
              font-size: 16px;
              color: #797979;
              position: absolute;
              bottom: 1px;
              right: 1px;
              text-align: center;
              line-height: 38px;
            }
          }
          &:last-of-type { margin-right: 0; }

          > label {
            margin: 0 0 3px;
            padding: 0;
            display: block;
            font-weight: 400;
            text-align: left;
          }
          > input {
            @include size(100%, 38px, border-box);
            margin: 0;
            color: $text_dark;
            font-size: 13px;
            border: solid 1px #D5D5D5;
            transition: border-color .2s, box-shadow .2s;

            &[type=number] { padding: 0 0 0 8px; }
            &:hover { border-color: #B5B5B5; }
            &:focus {
              border-color: #7F848C;
              box-shadow: 0 0 4px rgba(107, 112, 117, 0.55);
              outline: none;
            }
          }
          > button.btnfilter {
            @include size(100%, auto);
            padding: 15px 0;
            margin: 20px 0 0;
            display: block;
            color: $blue;
            background-color: $yellow;
            border: 0;
            text-align: center;

            > i.fa {
              display: inline-block;
              vertical-align: middle;
              margin-right: 7px;
            }
            > span {
              display: inline-block;
              vertical-align: middle;
              font: {
                size: 1em;
                weight: 700;
              }
              text-transform: uppercase;
            }
          }

          .datetime-wrapper {
            width: 100%;
            height: 38px;

            > input[type=datetime-local] { display: none; }

            > span.e-datetime-wrap {
              width: 100% !important;
              height: 100%;
              display: block;

              &.e-focus > .e-in-wrap {
                border-color: #7F848C !important;
                box-shadow: 0 0 4px rgba(107, 112, 117, 0.55);
                outline: none;
              }
              &:hover > .e-in-wrap { border-color: #B5B5B5; }

              .e-in-wrap {
                border: solid 1px #D5D5D5;
                transition: border-color .2s, box-shadow .2s;
              }

              .e-datetimepicker.e-input {
                font: {
                  family: Lato, sans-serif;
                  size: 13px;
                }
                color: #222 !important;
              }
            }
          }

          .live-label {
            font-size: 13px;
            text-align: center;
            margin-top: 2px;
          }

          .layout-rows {
            height: auto;
            clear: both;
            padding: 14px 7px;
            border: solid 1px #DDD;
            background-color: rgba(255,255,255,0.65);

            .filterform2 {
              width: 13%;
              margin-right: 1.5%;
              float: left;
              background-color: transparent;
              text-align: center;
              position: relative;

              &:last-of-type { margin-right: 0; }

              > label {
                @include size(64px, 64px, border-box);
                margin: 0;
                padding: 0;
                display: inline-block;
                cursor: pointer;
                border: 7px solid #D4D4D4;
                border-radius: 15px;

                &.r_on {
                  display: inline-block;
                  opacity: 1;
                  -webkit-filter: grayscale(0);
                  filter: grayscale(0);
                }
                &.venue-layout-banquet { background-image: url(/Content/Images/layout/venue-layout-banquet.png); }
                &.venue-layout-boardroom { background-image: url(/Content/Images/layout/venue-layout-boardroom.png); }
                &.venue-layout-classroom { background-image: url(/Content/Images/layout/venue-layout-classroom.png); }
                &.venue-layout-doubleushape { background-image: url(/Content/Images/layout/venue-layout-doubleushape.png); }
                &.venue-layout-roundtable { background-image: url(/Content/Images/layout/venue-layout-roundtable.png); }
                &.venue-layout-theatre { background-image: url(/Content/Images/layout/venue-layout-theatre.png); }
                &.venue-layout-ushape { background-image: url(/Content/Images/layout/venue-layout-ushape.png); }

                > input[type=checkbox] {
                  visibility: hidden;
                  position: absolute;
                }
              }

              > span {
                width: 100%;
                display: block;
                margin-top: 5px;
                text-align: inherit;
                font-size: 0.875em;
                line-height: 1.357em;
                white-space: nowrap;

                &.is-overlap { margin-left: -7px; }
              }
            }
            .searchfilter {
              width: 21.75%;
              height: auto;
              float: right;

              > a {
                width: 100%;
                height: 64px;
                display: block;
                box-sizing: border-box;
                text-align: center;
                padding: 19px 0 16px;
              }
            }
          }
        }
      }
    }
  }
}

/* Tagline */
.venue-list-catalog > .venuekita-tagline {
  @include size(640px, 50px, border-box);
  position: relative;
  margin: 38px auto 0;
  padding: 7px 0 6px 30px;
  text-align: center;
  background-color: $blue;

  > h2 {
    display: inline-block;
    margin: 0;
    padding: 0;
    font: {
      size: 1.0625em;
      weight: 700;
    }
    color: $white;
    vertical-align: middle;
  }

  .guarantee-icon {
    @include size(70px, 70px);
    padding: 9px;
    border-radius: 88px;
    background: $blue url(/Content/Images/layout/tagline-guarantee.png) no-repeat center;
    position: absolute;
    left: 0;
    top: 0;
    margin: -20px 0 0 -36px;
    z-index: 4;
  }
}

/* Venue Item */
// See components/_venue_item.scss for Venue Item style

/* Pagination */
.venue-list-catalog > .pagination {
  @include size(100%, 43px);
  padding: 0;
  border: {
    style: solid;
    width: 1px 0;
    color: #D5D5D5;
  }
  text-align: right;

  &.top-paging { margin: 35px 0 20px; }
  &.bottom-paging { margin: 20px 0 35px; }

  .pager {
    @include size(auto, inherit);
    list-style: none;
    padding: 0;
    margin: 0;
    display: inline-block;
    vertical-align: top;

    > li {
      padding: 0;
      margin: 0;
      display: inline-block;
      vertical-align: middle;
      float: left;

      &.navigator {
        > a {
          display: block;
          visibility: visible !important;
          padding: 8px 14px;
          color: $blue;
          background-color: transparent;
          border-right: solid 1px #D5D5D5;
          outline: none;

          &:hover,
          &:focus { background-color: $blue_light; }

          &.no-advance {
            color: #CCC;
            background-color: transparent !important;
            cursor: not-allowed;

            > span { text-decoration: none; }
          }
          &.previous > i.fa { margin-right: 7px; }
          &.next > i.fa { margin-left: 7px; }

          > span, > i.fa {
            display: inline-block;
            vertical-align: baseline;
          }
          > span { text-decoration: underline; }
        }
      }

      &.indicator {
        @include size(auto, inherit);
        display: inline-block;
        font: {
          size: 0.8125em;
          weight: 700;
        }
        line-height: 43px;
        padding: 0 21px;
        border-right: solid 1px #D5D5D5;
      }
    }
  }

  .sorter {
    @include size(auto, inherit);
    display: inline-block;
    vertical-align: top;
    border-right: solid 1px #D5D5D5;

    > label {
      display: inline-block;
      vertical-align: middle;
      line-height: 43px;
      margin-right: 3px;
      font-size: 0.8125em;
    }
    > select {
      margin: 0 21px 0 0;
      width: auto;
      display: inline-block;
      vertical-align: middle;
    }
  }
}
