// main: ../venuekita.scss

/**
 * Venue Detail Page Style
 * =============================================================================
 */
/* Slider */
.venue-detail-slider {
  @include size(100%, 600px);
  position: relative;
  padding-top: 50px;
  background-color: $white;

  .bx-wrapper {
    box-shadow: none;
    border: 0;
  }

  ul#ulbxsliderdetail {
    @include size(inherit !important, inherit !important);
    padding: 0;
    margin: 0;
  }
}

/* Content Container */
.detail-content-container {
  background-color: #F1F1F1;
}

/* Base Sidebar Template */
#main-venue-sidebar {
  width: 30%;
  position: relative;
  margin: {
    top: -175px;
    left: 5%;
  }
  float: left;
  background: $white;
  z-index: 9900;

  .section-venue-sidebar {
    @include size(90%, auto);
    padding: 5%;
    border-bottom: 1px solid #CCC;
    position: relative;
  }
}

/* Base Content Template */
#main-venue-content {
  .section-venue-content {
    background-color: transparent;

    .content-box-wrapper {
      width: 100%;
      box-sizing: border-box;
      padding: 15px;
      background-color: #fff;

      &:not(:first-child) { margin-top: 20px; }

      .desc-text-top {
        padding: 0;

        .instant-info {
          width: 100%;
          padding: 2%;
          box-sizing: border-box;
          border: solid 3px #BED7EC;
          background-color: #F0F8FF;
          position: relative;

          > abbr {
            position: absolute;
            top: 50%;
            margin-top: -16px;
            text-docoration: none;
            border-bottom: none;

            > i {
              font-size: 32px;
              color: #6498C3;
            }
          }
          > p {
            margin-bottom: 0;
            padding-left: 40px;
            text-align: left;
            font-size: 15px;
          }
        }
      }

      .form-inline-filter {
        width: 100%;
        padding: 0;
        margin-top: 13px;
        display: block;

        > span {
          width: 32.5%;
          float: left;
          box-sizing: border-box;
          margin: 0 1.25% 0 0;

          &:last-child { margin-right: 0; }

          > label {
            font: {
              size: 16px;
              weight: 400;
            }
            margin-bottom: 3px;
          }
        }

        &.layout-rows {
          height: auto;
          min-height: 64px;
          clear: both;

          > label {
            font: {
              size: 16px;
              weight: 400;
            }
            margin-bottom: 3px;
          }

          .filterform2 {
            width: 10%;
            margin-right: 0.75%;
            float: left;

            > label {
              @include size(64px !important, 64px !important, border-box);
              margin: 0;

              &.venue-layout-banquet { background-image: url(/Content/Images/layout/venue-layout-banquet.png); }
              &.venue-layout-boardroom { background-image: url(/Content/Images/layout/venue-layout-boardroom.png); }
              &.venue-layout-classroom { background-image: url(/Content/Images/layout/venue-layout-classroom.png); }
              &.venue-layout-doubleushape { background-image: url(/Content/Images/layout/venue-layout-doubleushape.png); }
              &.venue-layout-roundtable { background-image: url(/Content/Images/layout/venue-layout-roundtable.png); }
              &.venue-layout-theatre { background-image: url(/Content/Images/layout/venue-layout-theatre.png); }
              &.venue-layout-ushape { background-image: url(/Content/Images/layout/venue-layout-ushape.png); }

              > input[type=checkbox] { visibility: hidden; }
            }
          }
          .searchfilter {
            @include size(21.75%, auto);
            float: right;

            > a {
              @include size(100%, 64px, border-box);
              display: block;
              text-align: center;
              padding: 19px 0 16px !important;
            }
          }
        }
      }
    }

    .venue-detail-venue {
      .venue-detail-content {
        .booking-tool {
          .bookbutton {
            > a.btn {
              width: 100%;
              position: static;
              background-color: #E11F8E !important;
              background-image: url(/Content/Images/layout/icon-veritrans-logo-sm.png) !important;
              background-repeat: no-repeat !important;
              background-position: 25% 7px !important;
              border: {
                style: solid;
                color: #B91D76 !important;
                width: 1px 1px 4px;
              }
              box-sizing: border-box;
            }
          }
        }
      }
    }
  }
}

/* Sidebar - Heading */
#main-venue-sidebar .section-venue-sidebar.sidebar-heading {
  border-top: 4px solid #D71785;
  padding: 10% 5% 13%;

  > h2 {
    text-transform: uppercase;
    font: {
      size: 2.313em;
      weight: 300;
    }
    line-height: 1.225em;
    text-align: left;
    margin: 0 0 27px;
  }

  > p {
    display: none;

    &#venue-quote-price:not(:first-of-type) {
      display: block;
      color: $text_regular;
      font: {
        size: 20px;
        weight:700;
      }
      text: {
        transform: uppercase;
        align: left;
      }
      margin: 0;
      padding-top: 5%;
    }
  }
}

/* Content - Heading */
#main-venue-content .section-venue-content .content-box-wrapper.filter-accordion {
  position: relative;
  padding-top: 86px;

  .accordionHeader,
  .accordionHeaderSelected {
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    box-sizing: border-box;
    padding: 15px;

    .desc-text-top .accordionLink {
      display: block;
      position: relative;

      .accordion-expander {
        @include size(auto, 36px, border-box);
        position: absolute;
        right: 0;
        top: 0;
        padding: 0 11px;
        line-height: 36px;
        font-size: 0.875em;
        border: solid 1px #D71785;
        border-radius: 15px;

        > i {
          font-size: 1.143em;
          margin-left: 7px;
        }
      }
    }
  }

  .accordionContent {
    overflow: visible !important;

    .content-box-wrapper.search {
      padding: 0;

      .desc-text-top > hr { margin-bottom: 23px; }
    }
  }
}

/*
.accordion {
  width: 400px;
}

.accordionHeader {
  border: 1px solid #2F4F4F;
  color: white;
  background-color: #2E4d7B;
  font-family: Arial, Sans-Serif;
  font-size: 12px;
  font-weight: bold;
  padding: 5px;
  margin-top: 5px;
  cursor: pointer;
}

.accordionHeaderSelected {
  border: 1px solid #2F4F4F;
  color: white;
  background-color: #5078B3;
  font-family: Arial, Sans-Serif;
  font-size: 12px;
  font-weight: bold;
  padding: 5px;
  margin-top: 5px;
  cursor: pointer;
}

.accordionContent {
  background-color: #D3DEEF;
  border: 1px dashed #2F4F4F;
  border-top: none;
  padding: 5px;
  padding-top: 10px;
} */
