/**
 * Venue List Page Style
 * =============================================================================
 * Author: Arvianto Dwi <arvianto.dwi@programmer.net>
 * Since : 2016-04-28 (v3.0.0) - Conversion to Bootstrap
 */

/* Map */
.venues-map {
  height: 100%;
  padding-top: 50px;
  position: fixed;
  top: 0;
  right: 0;
  background-color: $white;
}

/* Main List Content */
.venue-list {
  padding-top: 50px;

  /* List Heading */
  .list-heading {
    width: 94%;
    margin: 0 auto;
    padding: 17px 0;
    position: relative;
    border-bottom: solid 1px $greyD5;

    > h1 {
      margin: 0;
      padding: 0 155px 0 0;
      font: {
        size: 1.5em;
        weight: 700;
      }
      line-height: 1.458em;
      color: $blue;
    }

    #filter-form-trigger {
      @include size(155px, 34px);
      @include absoluteTo(top, right);
      margin-top: 17px;
      padding: 0 15px;
      line-height: 1em;
      z-index: 100;
      transition: color .25s;

      &.active {
        width: auto;
        position: fixed;
        top: 50px;
        right: 33.333%;
        margin-right: 3%;
        padding: 0;
        font-size: 1.375em;
        text-align: center;
        color: $blue;
        background-color: transparent;
        border: 0;

        > i.fa { margin-right: 0; }
      }

      > i.fa { margin-right: 3px; }
    }
  }

  /* List Catalog */
  .list-catalog {
    width: 94%;
    margin: 0 auto;

    /* Tagline */
    .venuekita-tagline {
      @include size(640px, 50px);
      position: relative;
      margin: 38px auto 0;
      padding: 7px 0 6px 30px;
      text-align: center;
      background-color: $blue;

      > h2 {
        display: inline-block;
        margin: 0;
        padding: 0;
        font: {
          size: 1.0625em;
          weight: 700;
        }
        line-height: 37px;
        color: $white;
        vertical-align: middle;
      }

      .guarantee-icon {
        @include size(70px, 70px, content-box);
        @include absoluteTo(top, left);
        margin: -20px 0 0 -36px;
        padding: 9px;
        background: $blue url(/Content2016/Images/layout/tagline-guarantee.png) no-repeat center;
        border-radius: 88px;
        z-index: 4;
      }
    }

    /* Pagination */
    .pagination {
      @include size(100%, 43px);
      border: {
        style: solid;
        width: 1px 0;
        color: #D5D5D5;
      }
      text-align: right;

      &.top-paging { margin: 35px 0 20px; }
      &.bottom-paging { margin: 20px 0 35px; }

      .sorter, .pager {
        height: 100%;
        display: inline-block;
        vertical-align: top;
      }

      .sorter {
        border-right: solid 1px $greyD5;

        > label, > select {
          height: 33px;
          display: inline-block;
          vertical-align: middle;
        }

        > label {
          margin: 4px 6px 4px 0;
          line-height: 33px;
          font-size: 0.8125em;
        }
        > select { margin-right: 18px; }
      }

      .pager {
        margin: 0;

        > li {
          float: left;

          &.indicator {
            display: inline-block;
            font: {
              size: 0.8125em;
              weight: 700;
            }
            line-height: 41px;
            padding: 0 21px 0 17px;
            border-right: solid 1px $greyD5;
          }
          &.navigator {
            > a {
              height: 43px;
              display: block;
              padding: 8px 14px;
              margin: -1px 0 0 -1px;
              color: $blue;
              background-color: transparent;
              border: {
                style: solid;
                width: 1px;
                color: $greyD5;
                radius: 0;
              }
              outline: none;

              &:hover,
              &:focus {
                background-color: $yellow;
                border-color: $yellow_mid;
              }

              &.no-advance {
                color: $input_border;
                background-color: transparent !important;
                border-color: $greyD5 !important;
                cursor: not-allowed;
              }
              &.previous > i.fa { margin-right: 7px; }
              &.next > i.fa { margin-left: 7px; }

              > span, > i.fa {
                display: inline-block;
                vertical-align: baseline;
                float: none;
              }
            }
          }
        }
      }
    }

    /* Filter Result */
    // See components/_venue_item.scss for Venue Item style
  }
}

/* Filter */
#filter-form-container {
  height: 100%;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba($black, .8);
  z-index: 99;

  .inner-filter-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    padding: {
      top: 70px;
      bottom: 43px;
    }
    background-color: $global_body_bg;
    z-index: 99;
    overflow: hidden;

    .fields {
      position: relative;

      .row {
        padding: {
          top: 13px;
          bottom: 13px;
        }

        .field-set {
          position: relative;

          &.is-slider { margin-bottom: 33px; }

          > label {
            margin: 0 0 3px;
            display: block;
            font-weight: 400;
          }
          > input[type=datetime-local],
          > .hidden-range-field { display: none; }
          > button {
            height: 50px;

            > i.fa { margin-right: 7px; }
          }

          .slider.slider-horizontal {
            width: 100%;

            &#radiusSlider {
              margin: {
                top: 4px !important;
                bottom: 28px !important;
              }
            }

            .slider-track {
              background: {
                image: none;
                color: $white;
              }
              border: solid 1px $input_border;
              border-radius: 8px;
              box-shadow: none;

              .slider-track-low, .slider-track-high {
                background-color: #E2E2E2;
                border-radius: 8px;
                box-sizing: content-box;
              }
              .slider-selection {
                background: {
                  image: none;
                  color: #00C853;
                }
                box-shadow: none;
              }
              .slider-tick {
                margin-top: -6px;
                background: {
                  color: #E2E2E2;
                  image: none;
                }
                opacity: 1;
                border: {
                  style: solid;
                  color: $input_border;
                  width: 1px 0;
                }
                box-shadow: none;

                &.in-selection {
                  background: {
                    image: none;
                    color: #00C853;
                  }
                }
              }
              .slider-handle {
                margin-top: -6px;
                background: {
                  image: none;
                  color: $white;
                }
                border: solid 6px #00C853;
                box-shadow: 0 0 5px rgba(0,86,36, 0.75);
              }
            }

            .tooltip {
              z-index: 999;

              .tooltip-arrow { display: none; }
              .tooltip-inner { background-color: $blue; }
            }

            .slider-tick-label-container {
              margin: {
                left: -6.6% !important;
                right: -6.6% !important;
              }

              .slider-tick-label {
                width: 11.111111111% !important;

                &::after {
                  content: ' km';
                  display: inline-block;
                }
              }
            }
          }
        }
      }
    }
  }
}
