/**
 * Mixin Directives
 * =============================================================================
 * Author: Arvianto Dwi <arvianto.dwi@programmer.net>
 * Since : 2015-12-1  (v1.0.0)
 * Update: 2016-03-30 (v1.0.1): add clearfix
 *         2016-04-19 (v1.1.0): add absoluteTo, absoluteCenterPx, and
 *                              absoluteCenterPercent
 *         2016-04-20 (v1.1.1): add placeholder
 */

/**
 * size
 * Return the given width and height value, and set box-sizing rule if the third
 * param value is not null.
 *
 * Param: mixed   $w           width value
 * Param: mixed   $h           height value
 * Param: string  $sizingType  box-sizing type value
 */
@mixin size($w, $h, $sizingType: null) {
  width: $w;
  height: $h;

  @if $sizingType != null { box-sizing: $sizingType; }
}

/**
 * absoluteTo
 * Set absolute element's position to the given param value.
 *
 * Param: string  $positionY  location (top, right, bottom or left)
 * Param: string  $positionX  location (top, right, bottom or left)
 */
@mixin absoluteTo($positionY, $positionX) {
  position: absolute;
  #{$positionY}: 0;
  #{$positionX}: 0;
}

/**
 * absoluteCenterPx
 * Set absolute element's position in the center of the page. The parent of
 * these absolute elements must be relative or absolute positioned. Only applied
 * to absolute elements with px size unit, for the percent size unit see the
 * absoluteCenterPercent mixin.
 *
 * Param: mixed  $w  width value on px
 * Param: mixed  $h  height value on px
 */
@mixin absoluteCenterPx($w, $h) {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: {
    top: -($h/2);
    left: -($w/2);
  }
}

/**
 * absoluteCenterPercent
 * Set absolute element's position in the center of the page. The parent of
 * these absolute elements must be relative or absolute positioned. Only applied
 * to absolute elements with % size unit, for the px size unit see the
 * absoluteCenterPx mixin.
 */
@mixin absoluteCenterPercent($w, $h) {
  $offsetX: 0;
  $offsetY: 0;

  position: absolute;
  top: 50%;
  left: 50%;

  @if $w != null { $offsetX: -($w/2); }
  @else { $offsetX: -50%; }

  @if $h != null { $offsetY: -($h/2); }
  @else { $offsetY: -50%; }

  transform: translate($offsetX, $offsetY);
}

/**
 * clearfix
 * Create clearfix pseudo-element where this mixin was included. Use this mixin
 * only if you are not using the clearfix style from bootstrap, otherwise it
 * will get conflict. Useful when we need to reset the float in responsive style
 *
 * Param: string  $position  position of the clearfix (before, after, or both)
 */
@mixin clearfix($position) {
  @if $position == 'both' {
    &::before, &::after {
      content: '';
      display: table;
    }
    &::after { clear: both; }
  }
  @else {
    &::#{$position} {
      content: '';
      display: table;
      @if $position == 'after' { clear: both; }
    }
  }
}

/**
 * placeholder
 * return all placeholder style set
 */
@mixin placeholder {
  &::-webkit-input-placeholder {@content}
  &:-moz-placeholder           {@content}
  &::-moz-placeholder          {@content}
  &:-ms-input-placeholder      {@content}
}