/**
 * Variables
 * =============================================================================
 * Author: Arvianto Dwi <arvianto.dwi@programmer.net>
 * Since : 2015-12-23
 * Update: 2016-04-22 (v1.0.1) - Fix complimentary colors
 */

// Colors - Primary
$blue: #2D415A;

// Colors - Accent
$blue_light: #D7E1E6;
$blue_mid  : #738791;
$blue_dark : #3E4042;
$yellow    : #FFD600;
$yellow_mid: #D4B307;
$orange    : #FF4119;
$orange_mid: #CC2E0D;

// Colors - White to Black
$white  : #FFF;
$greyF1 : #F1F1F1;
$greyE7 : #E7E7E7;
$greyD5 : #D5D5D5;
$grey69 : #696969;
$black  : #000;

// Colors - Layout
$global_body_bg  : #FAFAFA;
$global_footer_bg: #211E1E;
$home_client_bg  : #DDD;
$home_media_bg   : #D4D1D3;
$input_border    : #CCC;

// Colors - Text
$text_xlight : #AAA;
$text_light  : #B5B5B5;
$text_regular: #444;
$text_dark   : #222;
$text_sub    : #777;
$placeholder : #999;