/*!
 * Venuekita Base Stylesheet
 * =============================================================================
 * Author: Arvianto Dwi <arvianto.dwi@programmer.net>
 * Since : 2015-12-11
 * Desc. : Base template system of Venuekita's stylesheet
 */

/**
 * General Notes
 * =============================================================================
 * 1. Write all styles here using SASS import feature and use this
 *    template as a singleton (master of) stylesheets. Writing styles in
 *    the HTML markup page (especially outside <head> tag) is not
 *    recommended because those style will block markup parsing and
 *    render.
 * 2. This template will produce ONE CSS FILE only, which is venuekita.min.css
 *    in compressed format. All imported style will be automatically included.
 * 3. If you use Bootstrap CSS file, place the compiled version of this template
 *    (venuekita.min.css) after it, so this template could override the
 *    Bootstrap's default styles rules when needed.
 *    Example:
 *      <head>
 *        ...
 *        <link href="path/to/bootstrap.css" />
 *        <link href="path/to/venuekita.min.css" />
 *        ...
 *      </head>
 * 4. Avoid !important rules as much as you can. Using many !important rule
 *    means the stylesheets were written in awful way and need to refactor,
 *    and soon will reproduce more style issues. !important rules is
 *    recommended to use only in "3rd Party JS Plugin's Style Override" section
 *    (see the bottom of this template), because sometimes JS plugins write a
 *    lot of inline style inside HTML tags and cannot be overridden without
 *    !important rule.
 * 5. All style rules in components and contents directory were intended for
 *    small screen (width between 1025px and 1280px) only. Use each responsive
 *    stylesheet files in responsive directory for more specific media styling.
 */

/**
 * Media Queries Specification
 * =============================================================================
 * Primary Viewports, IMPORTANT:
 *   [1] max: 991 (all mobile base)
 *   [2] min: 768 - max: 991 (portrait tablet)
 *   [3] min: 992 - max: 1199 (landscape tablet and small monitor)
 * Secondary Viewports, OPTIONAL:
 *   [4] min: 1400 (desktop/TV, base min value for any larger screen than above)
 */

// Variables and Mixins Library
@import "_variables";
@import "_mixins";

// Fontface
//@import "_fontface";

// Base
@import "base/_core_v2";
@import "base/_animation";

// Components
@import "components/_topbar_v2";
@import "components/_venue_item_v2";
@import "components/_announcement_banner";
@import "components/_footer";
@import "components/_popup";

// Contents
@import "contents/_home_v3";
@import "contents/_venue_list_v3";
@import "contents/_venue_detail_v3";
@import "contents/_order_checkout";
@import "contents/_contact_us";

// 3rd Party JS Plugin's Style Override
@import "third-party/_trip_advisor_widget";
@import "third-party/_datetime_picker";
@import "third-party/_noty";

// Responsive
@media screen {
  // Mobile Base
  @media (max-width: 991px) { @import "responsive/_mobile_base"; }
  // Tablet
  @media (min-width: 768px)
     and (max-width: 991px) { @import "responsive/_tablet"; }
  // Medium Desktop
  @media (min-width: 992px)
     and (max-width: 1199px) { @import "responsive/_desktop_md"; }
  // Large Desktop
  @media (min-width: 1200px)
     and (max-width: 1439px) { @import "responsive/_desktop_lg"; }
  // Extra Large Desktop
  @media (min-width: 1440px)
     and (max-width: 2559px) { @import "responsive/_desktop_xlg"; }
}
