/**
 * VKCalculator JS Plugin Style
 * =============================================================================
 * Author: Arvianto Dwi <arvianto.dwi@programmer.net>
 * Since : 2016-05-19 (v1.0.0)
 */
@import "_variables";
@import "_mixins";

.calculator-init-loading {
  padding: 10px 0;
  text-align: center;

  > img {
    @include size(32px, 32px);
    display: inline-block;
  }
}

#accommodation-form .form-fields-container .set-fields-row { display: none; }

.vkcalculator.calculator-container {
  position: relative;
  padding: 0 19px;
  background-color: $white;
  border: solid 1px $greyD5;

  > ul {
    padding: 0;
    margin: 0;

    .pricing-list {
      height: auto;
      min-height: 45px;
      padding: 8px 0 12px 80px;
      margin: 0;
      position: relative;
      border-bottom: solid 1px $greyD5;

      &.last-day, &.last-result { border-bottom: 0; }
      &.last-result {
        margin-left: 80px;
        padding-left: 0;
        border-top: solid 2px $blue;
      }

      i.fa-plus {
        @include size(14px, 14px);
        display: block;
        position: absolute;
        right: -17px;
        top: -8px;
        font-size: 0.875em;
        color: $blue;
        text-align: center;
      }

      .day-label {
        position: absolute;
        left: 0;
        top: 0;
        line-height: 44px;
      }

      .calculation {
        position: relative;

        &:not(:last-of-type) { margin-bottom: 3px; }

        &.hidden { display: none; }
        &.discount {
          .price-sum {
            .unit-price { color: red; }
          }
        }

        .price-formula {
          padding-right: 142px;
          margin-bottom: 10px;
          text-align: right;

          > b, i, span {
            display: inline-block;
            vertical-align: middle;
            font-weight: 400;
          }
          > .unit-price {
            margin-right: 4px;
            position: relative;

            > abbr {
              position: absolute;
              left: 0;
              top: 0;
              margin: {
                top: 4px;
                left: -16px;
              }
              font:{
                size: 0.75em;
                weight: 400;
              }
              line-height: 1em;
              border: 0;
            }
            > span {
              position: absolute;
              right: 0;
              font: {
                size: 0.75em;
                weight: 400;
              }
              line-height: 1em;
              margin-top: -4px;
              white-space: nowrap;
            }
          }
          > i.fa {
            font-size: 0.875em;
            margin-right: 4px;
          }
          > .unit-count {
            min-width: 18px;
            margin-right: 4px;
            white-space: nowrap;
          }
          > .final-calc-label {
            margin-right: 4px;
            font-weight: 700;
            color: $blue;

            > span {
              vertical-align: baseline;
              font-weight: inherit;
            }
          }
          > span.equals {
            @include size(8px, 8px);
            position: relative;
            font-size: 0;
            line-height: 13px;

            &::before {
              content: '';
              @include size(8px, 3px);
              display: block;
              background-color: $blue;
            }
            &::after {
              content: '';
              @include size(8px, 3px);
              display: block;
              position: absolute;
              bottom: 0;
              left: 0;
              background-color: $blue;
            }
          }
        }
        .price-sum {
          position: absolute;
          right: 0;
          top: 0;
          text-align: right;

          .unit-price {
            color: $blue;
            position: relative;

            > abbr {
              position: absolute;
              top: 0;
              left: 0;
              margin-left: -17px;

              font:{
                size: 0.75em;
                weight: 400;
              }
              line-height: 1em;
              float: left;
              border: 0;
            }
          }
        }
      }
    }
  }
}