// main: ../venuekita.scss

/**
 * Announcement Banner Style
 * =============================================================================
 * Author : Arvianto Dwi <arvianto.dwi@programmer.net>
 * Since  : 2016-03-22
 */

/* Announcement */
.announcement {
  padding: 0;

  .flash-news {
    width: 100%;
    padding: 11px 13px;
    border: 1px solid;
    position: relative;
    margin-bottom: 5px;

    &.info {
      background-color: $white;
      border-color: #D5D5D5;

      > abbr { color: $text_sub; }
    }
    &.success {
      background-color: #B0F1B2;
      border-color: #00C853;

      > abbr { color: #00C853; }
    }
    &.warning {
      background-color: #FFECB3;
      border-color: #FFC400;

      > abbr { color: #FF9100; }
    }

    > abbr {
      @include size(20px, 20px);
      position: absolute;
      top: 50%;
      margin-top: -10px;
      cursor: help;
      border-bottom: 0;
      font-size: 1.25em;
      line-height: 1em;
      color: $text_sub;
    }
    > p {
      margin: 0 0 0 29px;
      font-size: 0.9375em;
      line-height: 1.46666em;
    }
  }
}