/**
 * Popup Style
 * =============================================================================
 * Author : Arvianto Dwi <arvianto.dwi@programmer.net>
 * Since  : 2016-05-06 (v1.0.0)
 */

/* General Style */
#venuekita-popup {
  @include size(100%, 100%);
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba($black, 0.66);
  overflow-y: auto;
  z-index: 10001;

  .popup-modalbox {
    width: 580px;
    @include absoluteCenterPercent(580px, null);
    background-color: $white;

    /* Heading */
    .popup-heading {
      position: relative;

      .heading-content {
        height: 100%;
        position: relative;

        .head-illustration {
          height: 140px;
          position: relative;
          background-color: $blue_light;
          overflow: hidden;

          > i.fa {
            position: absolute;
            bottom: 0;
            left: 50%;

            &.fa-home {
              transform: translate(-190px, 28px);
              font-size: 2em;
              color: #848480;
            }
            &.fa-tree {
              transform: translate(-160px, 27px);
              font-size: 1.65em;
              color: #6C9670;
            }
            &.fa-bank {
              transform: translate(61px, 49px);
              font-size: 3em;
              color: #848480;
            }
            &.fa-building-o {
              &.left-building {
                transform: translate(-133px, 93px);
                font-size: 5.75em;
                color: $blue_mid;
              }
              &.prime-building {
                transform: translate(-50%, 138px);
                font-size: 8.5em;
                color: $blue_mid;
              }
              &.right-building {
                transform: translate(120px, 81px);
                font-size: 5em;
                color: $blue_mid;
              }
            }
          }
        }

        .head-text {
          padding: 30px 0 23px;

          > span {
            display: block;
            text-align: center;

            &.main {
              font-size: 2em;
              color: $blue;
            }
            &.sub { margin-top: 11px; }
          }
        }
      }

      #popup-close {
        @include size(24px, 24px);
        @include absoluteTo(top, right);
        margin: 13px 13px 0 0;
        background-color: transparent;
        cursor: pointer;

        > i.fa {
          display: block;
          font-size: 1.625em;
          line-height: 24px;
          text-align: center;
        }
      }
    }

    /* Body */
    .popup-body {
      padding-bottom: 30px;

      .field-set {
        padding: 0 30px;

        &:not(:last-child) { margin-bottom: 14px; }

        > textarea { min-height: 125px; }
        > input[type=submit] {
          height: 56px;
          margin-top: 16px;
        }

        .row .col-md-6.col-lg-6 {
          &:first-child { padding-right: 7px; }
          &:last-child { padding-left: 7px; }
        }
      }
    }
  }
}

/* Animation Styling ======================================================== */
.head-illustration.animate {
  > .anim-step-1 {
    animation-name: pullup-step-1;
    animation-duration: .55s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
  }
  > .anim-step-2 {
    animation-name: pullup-step-2;
    animation-duration: .3s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
  }
  > .anim-step-3 {
    animation-name: pullup-step-3;
    animation-duration: .55s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
  }
  > .anim-step-4 {
    animation-name: pullup-step-4;
    animation-duration: .4s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
  }
  > .anim-step-5 {
    animation-name: pullup-step-5;
    animation-duration: .45s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
  }
  > .anim-step-6 {
    animation-name: pullup-step-6;
    animation-duration: .5s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
  }
}