// main: ../venuekita.scss

/**
 * Topbar / Header Component Style
 * =============================================================================
 * Author : Arvianto Dwi <arvianto.dwi@programmer.net>
 * Since  : 2015-12-23
 * Updated: 2016-02-12 (v2.0.0) - bootstrap implementation and normalization
 *          2016-03-30 (v2.0.2) - minor improvement for responsive capability
 *        : 2016-04-05 (v2.0.3) - remove deprecated menu style
 */

.header-venuekita {
  @include size(100%, 50px);
  position: fixed;
  top: 0;
  z-index: 9999;
  background: $white;

  // Header > Logo
  > a:last-of-type {
    @include size(150px, 34px);
    margin: 8px 0 8px 30px;
    display: inline-block;
    position: relative;

    > img {
      @include size(100%, 100%);
      display: block;
    }
  }

  // Header > Navigation
  .nav-collapse {
    @include size(auto, 37px);
    margin: 0;
    position: absolute;
    top: 6px;
    right: 45px;
    z-index: 9999;

    > ul {
      height: 100%;

      > li {
        height: 100%;
        float: left;
        margin-bottom: 0;

        &:not(:first-child) { margin-left: 39px; }
        &.listing { display: none; }

        a {
          color: $blue;
          font-size: 0.875em;
          padding: 5px 0;
          display: block;
        }
      }
    }
  }

  // Header > Navigation Toggle
  #nav-toggle {
    @include size(60px, 62px);
    @include absoluteTo(top, right);
    display: none;
    background-color: $blue_mid;
    /*-webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);*/

    > i {
      display: block;
      line-height: 62px;
      text-align: center;
      color: $white;
    }
  }

  // Header > Venue List Filter Toggle
  #mobile-vlfilter-toggle {
    @include size(60px, 62px);
    display: none;
    @include absoluteTo(top, right);
    padding: 0;
    margin: 0;
    border: 0;
    background-color: $blue_mid;
    z-index: 2;
    /*-webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);*/

    > i {
      display: block;
      line-height: 62px;
      text-align: center;
      color: $white;
    }
  }
}

// Header on Home Page
header.header-home {
  @include size(80%, auto);
  margin: 30px 10% 0;
  background: none;
  position: absolute;

  > a:last-of-type {
    @include size(225px, 50px);
    margin: 0;
  }
  .nav-collapse {
    ul > li {
      &.listing { display: none; }
      &.listup a {
        padding: 3px 12px;
        border: 2px solid $white;
      }

      a { color: $white; }
    }
  }
}
