// main: ../venuekita.scss

/**
 * Topbar / Header Component Style
 * =============================================================================
 * Author: Arvianto Dwi <arvianto.dwi@programmer.net>
 * Since : 2015-12-23
 */

.header-venuekita {
  @include size(100%, 50px);
  position: fixed;
  z-index: 9999;
  margin: 0;
  background: $white;

  // Header > Logo
  #logo {
    @include size(150px, 36px);
    margin: 7px 7px 7px 2%;
    padding-bottom: 0;
    background: {
      image: url('/Content/Images/layout/logo-inverse.png');
      repeat: no-repeat;
      size: contain;
    }
    display: inline-block;
    position: relative;

    > a {
      @include size(100%, 100%);
      display: block;

      > em { display: none; }
    }
  }

  // Header > Navigation
  .nav-collapse {
    @include size(auto, 37px, border-box);
    margin: 0;
    position: absolute;
    top: 7px;
    right: 30px;
    z-index: 9999;

    > ul {
      height: 100%;
      margin: 0;
      list-style: none;

      > li {
        height: 100%;
        float: left;
        margin-bottom: 0;

        &.listing a {
          background: #D71785;
          color: $white;
          display: block;
          font: {
            size: 0.875em;
            weight: 700;
          }
          border-radius: 2px;

          > i { margin-right: 4px; }
        }

        a {
          color: #D71785;
          font-size: 0.875em;
          padding: 5px 12px;
          display: block;
          box-sizing: border-box;
        }
      }
    }
  }

  // Header > Navigation Toggle
  #nav-toggle {
    background-color: #D71785;
    @include size(60px, 62px);
    position: absolute;
    top: 0;
    right: 0;
    display: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);

    > i {
      display: block;
      line-height: 62px;
      text-align: center;
      color: $white;
    }
  }
}

// Header on Home Page
header.header-home {
  width: 80%;
  margin: 30px 10% 0;
  height: auto;
  background: none;
  position: absolute;

  #logo {
    width: 225px;
    height: 50px;
    background: {
      image: url(/Content/Images/layout/logo.png);
      repeat: no-repeat;
    }
    background-size: contain;
  }
  .nav-collapse {
    top: 14px;

    ul > li {
      &.listing { display: none; }
      &.listup a {
        padding: 3px 12px;
        border: 2px solid $white;
      }

      a { color: #FFF; }
    }
  }
}
