/**
 * Venue Item Component Style
 * =============================================================================
 * Author: Arvianto Dwi <arvianto.dwi@programmer.net>
 * Since : 2016-01-04 (v1.0.0)
 * Update: 2016-03-07 (v2.0.0): major change of venue list item
 *         2016-03-11 (v2.1.0): hide sub price by default & add trip advisor API
 *         2016-04-04 (v2.1.1): more stable price style
 *         2016-03-15 (v2.2.0): remove similar style, fixed style normalizing
 *         2016-04-27 (v2.3.0): style rules optimizing based on bootstrap
 *                              conversion
 */

.venue-item {
  position: relative;
  border: solid 1px $greyD5;
  background-color: $input_border;

  .overlay-list-title {
    @include size(100%, 100%);
    @include absoluteTo(top, left);
    padding: 5% 5% 0 5%;
    cursor: pointer;
    z-index: 1;
    background: -moz-linear-gradient(to bottom, rgba($black, 0.65) 0%, rgba($black, 0) 30%, rgba($black, 0) 100%);
    background: -webkit-linear-gradient(to bottom, rgba($black, 0.65) 0%, rgba($black, 0) 30%, rgba($black, 0) 100%);
    background: -o-linear-gradient(to bottom, rgba($black, 0.65) 0%, rgba($black, 0) 30%, rgba($black, 0) 100%);
    background: -ms-linear-gradient(to bottom, rgba($black, 0.65) 0%, rgba($black, 0) 30%, rgba($black, 0) 100%);
    background: linear-gradient(to bottom, rgba($black, 0.65) 0%, rgba($black, 0) 30%, rgba($black, 0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a6000000', endColorstr='#00000000', GradientType=0);

    .venue-name {
      text-transform: uppercase;
      font: {
        size: 1.25em;
        weight: 700;
      }
      line-height: 1.3em;
      color: $white;
      margin: 0 0 6px;
      text-shadow: 0 0 11px rgba($black, 0.75);

      &:hover { text-decoration: underline; }
    }
    > div {
      font: {
        size: 0.938em;
        weight: 700;
      }
      color: $white;
      margin-bottom: 0;
      text-shadow: 0 0 6px rgba(0,0,0,1);
    }
  }

  .venue-item-image {
    position: relative;
    display: block;
    overflow: hidden;

    &:before {
      content: '';
      display: block;
      position: relative;
      top: 0;
      left: 0;
      padding-top: 56.25%;
    }

    > img {
      @include size(auto, auto);
      min-width: 100%;
      min-height: 100%;
      @include absoluteCenterPercent(null, null);
    }
  }

  .venue-list-info {
    @include size(100%, auto, border-box);
    min-height: 134px;
    position: relative;
    padding: 13px 5% 43px;
    background-color: $white;
    z-index: 2;

    .main-price {
      height: 75px;
      position: relative;
      padding: 0 0 10px 52px;

      .best-tag {
        position: absolute;
        top: 3px;
        left: 0;
      }

      .price-container {
        text-align: right;

        &:not(:last-of-type) { margin-bottom: 17px; }

        .price {
          display: inline-block;
          position: relative;
          margin: 21px 0;
          font: {
            size: 1.688em;
            weight: 400;
          }
          line-height: 1em;
          color: $blue;

          &.has-discount {
            margin: 0;
            font-size: 1em;
            color: $text_light;
            text-decoration: line-through;

            > abbr { left: -12px; }
            > span { display: none; }

            ~ .price { margin: 0; }
          }

          > abbr {
            position: absolute;
            top: -1px;
            left: -17px;
            line-height: 1em;
            font: {
              size: 0.519em;
              weight: 400;
            }
            border: 0;
            appearance: none;
          }
          > span {
            font: {
              size: 0.519em;
              weight: 400;
            }
            float: right;
            line-height: 1em;
            margin-top: 2px;
          }
        }
      }
    }

    /* For Trip Advisor style, see third-party/_trip_advisor_widget.scss */

    .instant-book-shortcut {
      height: 41px;
      position: absolute;
      bottom: -1px;
      left: -1px;
      box-sizing: content-box;
    }
  }
}

.venue-item.simple {
  .overlay-list-title {
    text-align: center;
    padding-right: 5%;
    background: -moz-linear-gradient(to bottom, rgba($black, 0.65) 0%, rgba($black, 0) 55%, rgba($black, 0) 100%);
    background: -webkit-linear-gradient(to bottom, rgba($black, 0.65) 0%, rgba($black, 0) 55%, rgba($black, 0) 100%);
    background: -o-linear-gradient(to bottom, rgba($black, 0.65) 0%, rgba($black, 0) 55%, rgba($black, 0) 100%);
    background: -ms-linear-gradient(to bottom, rgba($black, 0.65) 0%, rgba($black, 0) 55%, rgba($black, 0) 100%);
    background: linear-gradient(to bottom, rgba($black, 0.65) 0%, rgba($black, 0) 55%, rgba($black, 0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a6000000', endColorstr='#00000000', GradientType=0);

    > p { letter-spacing: 0.033em }
  }

  .venue-item-image {
    &:before { padding-top: 80%; }

    > img {
      height: 100%;
      max-width: none;
    }
  }
}