/**
 * Custom Animation Library
 * =============================================================================
 * Author : Arvianto Dwi <arvianto.dwi@programmer.net>
 * Since  : 2016-02-21
 */

/* Order Confirmation Steps
 * Applied on: ../contents/_order_confirmation.scss ========================= */
@keyframes bar-progress {
  0% { width: 0; }
  100% { width: 30%; }
}
@keyframes step-1-progress {
  0% {
      @include size(0, 0);
      margin: 0;
    }
  100% {
      @include size(36px, 36px);
      margin: -18px 0 0 -18px;
    }
}
@keyframes step-2-progress {
  0% {
    @include size(0, 0);
    margin: 0;
  }
  100% {
    @include size(36px, 36px);
    margin: -18px 0 0 -18px;
  }
}

/* Venue Registration Popup Illustration
 * Applied on: ../components/_popup.scss =====================================*/
@keyframes pullup-step-1 {
  0% {
    color: $blue_mid;
    transform: translate(-50%, 138px);
  }
  60% {
    color: $blue_mid;
    transform: translate(-50%, 21px);
  }
  100% {
    color: $blue;
    transform: translate(-50%, 14px);
  }
}
@keyframes pullup-step-2 {
  0% { transform: translate(-133px, 93px); }
  100% { transform: translate(-133px, 11px); }
}
@keyframes pullup-step-3 {
  0% { transform: translate(61px, 49px); }
  100% { transform: translate(61px, 8px); }
}
@keyframes pullup-step-4 {
  0% { transform: translate(-160px, 27px); }
  100% { transform: translate(-160px, 0); }
}
@keyframes pullup-step-5 {
  0% { transform: translate(-190px, 28px); }
  100% { transform: translate(-190px, 7px); }
}
@keyframes pullup-step-6 {
  0% { transform: translate(120px, 81px); }
  100% { transform: translate(120px, 11px); }
}
