/**
 * Core, Reset, and Basic
 * =============================================================================
 * Author: Arvianto Dwi <arvianto.dwi@programmer.net>
 * Since : 2016-04-22
 */

/* Basic */
html, body { @include size(100%, 100%); }
body {
  position: relative;
  background-color: $global_body_bg;
  font: {
    family: 'Lato', sans-serif;
    size: 16px;
  }
  line-height: 1.5em;
  color: $text_regular;
  overflow-x: hidden;
}

/* Links */
a {
  text-decoration: none;
  outline: 0;
  transition: 0.5s;
  line-height: inherit;

  &:visited {}
  &:hover, &:focus {}
}

/* Lists */
ol, ul {
  padding-left: 0;
  margin-bottom: 0;
}
ol { list-style: decimal; }
ul {
  list-style: none outside;

  &.square { list-style-type: square; }
  &.circle { list-style-type: circle; }
  &.disc { list-style-type: disc; }
}

/* Images */
img {
  max-width: 100%;
  height: auto;
}

/* Forms */
input[type=text],
input[type=password],
input[type=email],
input[type=number],
input[type=datetime-local],
textarea,
select {
  height: 38px;
  display: block;
  margin: 0;
  font-size: 0.875em;
  color: $text_regular;
  background-color: $white;
  border: solid 1px $input_border;
  outline: none;
  transition: border-color .175s, box-shadow .175s;

  &.inline-field { display: inline-block; }
  &.full-width { width: 100%; }
}


textarea {
  min-height: 60px;
  resize: vertical;
}

select {
  padding-left: 8px;
  line-height: 38px;
  border-radius: 0;
  appearance: menulist-button;

  &:hover {
    border-color: $text_light;
    box-shadow: 0 0 7px 0 rgba($black, 0.175);
  }
}

input[type=text],
input[type=password],
input[type=email],
input[type=number],
input[type=datetime-local],
textarea {
  padding: 6px 8px;
  appearance: none;

  &:hover {
    border-color: $text_light;
    box-shadow: 0 0 7px 0 rgba($black, 0.175);
  }
  &:focus {
    border-color: $blue_mid;
    box-shadow: 0 0 7px 0 rgba($blue, 0.375);
  }
}

input[type=number] { padding-right: 0; }

input[type=checkbox], input[type=radio] {
  margin: 0;
  padding: 0;
  display: inline-block;
  vertical-align: middle;
}

/* Buttons */
button, input[type="submit"], input[type="reset"], input[type="button"] {
  padding: 0;
  appearance: none;
}
.button, button, input[type="submit"], input[type="reset"], input[type="button"] {
  font-weight: 700;
  line-height: normal;
  text: {
    decoration: none;
    align: center;
  }
  cursor: pointer;
  background-image: none;
  border: {
    style: solid;
    width: 0;
    radius: 0;
  }
  outline: none;

  &:hover { text-decoration: none; }
  // Fix for odd Mozilla padding issues
  &::-moz-focus-inner, &::-moz-focus-inner { padding: 0; }

  &.full-width {
    width: 100%;
    display: block;
  }
  &.has-border { border-width: 1px; }
  &.uppercase { text-transform: uppercase; }
  &.capitalize { text-transform: capitalize; }
  &.font-small { font-size: 0.875em; }
  &.font-large {
    font: {
      size: 1.0625em;
      weight: 700;
    }
  }
  &.yellow {
    background-color: $yellow;
    border-color: $yellow_mid;
    color: $blue;
  }
  &.orange {
    background-color: $orange;
    border-color: $orange_mid;
    color: $white;
  }
  &.light {
    background-color: $greyF1;
    border-color: $greyD5;
    color: $grey69;
  }
  &.dark {
    background-color: $grey69;
    border-color: $greyD5;
    color: $white;
  }
}
.button > *, button > * {
  display: inline-block;
  vertical-align: middle;
}

/* Misc */
.row {
  &.no-negative-margin {
    margin: {
      left: 0;
      right: 0;
    }
  }
}
.container, .container-fluid,
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12 {
  &.no-padding {
    padding: {
      left: 0;
      right: 0;
    }
  }
  &.no-padding-left { padding-left: 0; }
  &.no-padding-right { padding-right: 0; }
}