// main: ../venuekita.scss

/**
 * Core, Reset, and Basic
 * =============================================================================
 * Author: Arvianto Dwi <arvianto.dwi@programmer.net>
 * Since : 2015-12-23
 */

 form#form1 {
     margin: 0;
     padding: 0;
 }

 h2#page-title {
     color: #d71785;
     font-weight: 300;
     font-size: 48px;
     line-height: 48px;
 }

// header style: move to _layout.scss

 .overlay-venuekita {
     background: rgba(0,0,0,0.85);
     width: 100%;
     height: 100%;
     position: fixed;
     float: left;
     z-index: 9998;
     display: none;
 }

 section.my-list {
     margin-top: 50px !important;
     /*padding: 2% 2% 1% 1%;*/
     padding: 2% 2% 0% 1%;
     width: 97%;
     background: #444;
     position: fixed;
     z-index: 9999;
     display: none;
 }

     section.my-list p {
         float: left;
         margin: 10% 0px 0px -99%;
         color: #fff !important;
     }


     section.my-list .button {
         float: right;
         /*background:#fff;*/
         margin-right: 0;
         /*color:#d71785 !important;*/
         text-transform: uppercase;
         font-weight: bold;
         background: #F89406 none repeat scroll 0% 0%;
         color: #fff !important;
         border-bottom: 4px solid #C27304 !important;
     }


     section.my-list .my-venue {
         width: 17%;
         padding: 1%;
         margin: 0 0 0 1%;
         background: rgba(255,255,255,0.2);
         float: left;
         position: relative;
     }

         section.my-list .my-venue:hover {
             background: rgba(255,255,255,0.4);
         }

         section.my-list .my-venue i {
             color: #fff;
             position: absolute;
             bottom: 10%;
             right: 5%;
         }

         section.my-list .my-venue .img-thumb {
             width: 45%;
             margin: 0 5% 0 0;
             position: relative;
             float: left;
             transition: all 1s;
         }

         section.my-list .my-venue .img-thumb-add {
             width: 25%;
             margin: 10% auto !important;
             float: none;
             display: block;
             /*background: url(../images/layout/round-plus.png) center;*/
             background: url(../images/layout/add-more.png) center;
             background-size: cover;
             border-radius: 100%;
             text-align: center;
             -webkit-transition: all 1s;
             opacity: 0.8;
         }

             section.my-list .my-venue .img-thumb-add em {
                 font-style: normal;
             }

         section.my-list .my-venue .img-thumb:before {
             content: "";
             display: block;
             padding-top: 100%; /* initial ratio of 1:1*/
         }

         section.my-list .my-venue .img-thumb em {
             position: absolute;
             top: 0;
             left: 0;
             bottom: 0;
             right: 0;
             font-size: 1.5rem;
             color: #444;
             overflow: hidden;
         }

             section.my-list .my-venue .img-thumb em img {
                 height: 100%;
                 max-width: none !important;
             }

         section.my-list .my-venue strong {
             width: 50%;
             text-align: left;
             color: #fff;
             float: right;
             line-height: normal;
         }

 form.form-login {
     margin: 90px auto;
     clear: both;
     float: left;
     width: 70%;
     padding: 20px 15%;
     text-align: center;
 }

     form.form-login .text-user-form {
         width: 30%;
         padding: 13px 10px;
         margin: 0 auto 20px auto;
     }

     form.form-login input[type=button] {
         font-size: 18px !important;
     }















 section#main-venue-enquiry {
     width: 90%;
     padding: 8% 5%;
     float: left;
 }

 section#main-venue-content .row-half {
     width: 48%;
     float: left;
 }

 .row {
     &.no-twbs {
         /*min-height:90px;*/
         min-height: 30px;
         width: 100%;
         display: inline-block;
     }
 }

     .row input,
     .row select,
     .row textarea {
         width: 84%;
         padding: 3%;
     }

         .row input[type=radio],
         .row input[type=checkbox] {
             width: auto;
             float: left;
         }

 section#wish-list-panel {
     background: #d71785;
     width: 96%;
     padding: 1% 2%;
     z-index: 9990;
     margin: 0 0 0 0;
     clear: both;
     float: left;
 }

 section#venuekita-section-image {
     width: 40%;
     height: 100%;
     background-repeat: no-repeat;
     background-size: cover;
     float: right;
     position: fixed;
     top: 0;
     right: 0;
 }



     section#main-venue-sidebar.main-venue-sidebar-regular {
         margin-top: 5%;
     }

     section#main-venue-sidebar .btn-open-information {
         width: 100%;
         height: 100%;
     }

     section#main-venue-sidebar .venue-get-quote {
         background: #e11f8e;
         color: #fff;
         /*width: 40%;*/
         width: 90%;
         padding: 5%;
         float: left;
         font-size: 18px;
         text-transform: uppercase;
          text-align:center;
     }

         section#main-venue-sidebar .venue-get-quote:hover {
              background: #e11f8e;
         }


     section#main-venue-sidebar .venue-get-info {
         background: #333;
         color: #fff;
         width: 40%;
         padding: 5%;
         float: left;
         font-size: 18px;
         text-transform: uppercase;
 		/*margin-top:-1px;*/
     }

         section#main-venue-sidebar .venue-get-info:hover {
             background: #333;
         }



     section#main-venue-sidebar .section-venue-sidebar h3 {
         color: #d71785;
         font-weight: 700;
         font-size: 24px;
         line-height: 24px;
         text-align: left;
         letter-spacing: -1px;
     }

     section#main-venue-sidebar .section-venue-content {
     }

     section#main-venue-sidebar .venue-detail-map {
         background: #000;
         height: 200px;
     }


 section#main-venue-content {
     width: 55%;
     margin: 5% 5% 5% 0;
     float: right;
 }



 .venue-detail-venue {
     /*width: 94%;
     margin: 3% 3% 0 3%;*/
     width: 100%;
     margin: 3% 0% 0px;
     float: left;
     background: #fff;
     clear: both;
     position: relative;
 }

     .venue-detail-venue .venue-detail-header {
         padding: 1% 2%;
         width: 96%;
         background: #d71785;
         float: left;
     }

     .venue-detail-venue h3 {
         text-transform: uppercase;
         color: #fff !important;
         text-align: left;
         font-weight: 300 !important;
         z-index: 9000;
         margin: 0;
         padding: 10px 0 5px 0;
     }

     .venue-detail-venue .venue-detail-venue-image {
         width: 40%;
         background-position: center;
         background-size: cover;
         float: left;
         text-align: center;
         position: relative;
     }

         .venue-detail-venue .venue-detail-venue-image:before {
             content: "";
             display: block;
             padding-top: 65%; /* initial ratio of 1:1*/
         }

         .venue-detail-venue .venue-detail-venue-image img {
             display: none;
         }

     .venue-detail-venue .venue-detail-content {
         width: 56%;
         padding: 2%;
         float: right;
     }

         .venue-detail-venue .venue-detail-content h4 {
             margin: 0 0 0 0;
             padding: 0 0 0 0;
             display: block;
             width: 100%;
             text-transform: uppercase;
         }

         .venue-detail-venue .venue-detail-content table.venue-detail-information {
             width: 100%;
         }

             .venue-detail-venue .venue-detail-content table.venue-detail-information th {
                 width: 30%;
                 font-weight: bold;
                 text-align: left;
             }

             .venue-detail-venue .venue-detail-content table.venue-detail-information td:nth-child(1) {
                 font-weight: bold;
                 width: 20%;
             }

             .venue-detail-venue .venue-detail-content table.venue-detail-information td:nth-child(2),
             .venue-detail-venue .venue-detail-content table.venue-detail-information td:nth-child(4) {
                 width: 20%;
             }

             .venue-detail-venue .venue-detail-content table.venue-detail-information td:nth-child(3) {
                 font-weight: bold;
             }


         .venue-detail-venue .venue-detail-content .venue-layout-item {
             width: 10%;
 			background:#f00;
             margin: 0px 1% 1% 0px;
             float: left;
             text-align: center;
             padding: 6px;
 			background:none !important;
         }
 		.venue-layout-item.disabled{
             opacity:0.30;
         }


             .venue-detail-venue .venue-detail-content .venue-layout-item img {
                 border: medium none;
                 float: left;
                 padding: 8px;
 				-webkit-filter: grayscale(100%);
 				filter: grayscale(100%);
 				opacity:0.55;
             }


             .venue-detail-venue .venue-detail-content .venue-layout-item span {
                 font-size: 9px;
                 line-height: 12px;
                 float: left;
                 width: 100%;
                 min-height: 42px;
                 padding: 8px;
 				text-transform:uppercase;
             }

             .venue-detail-venue .venue-detail-content .venue-layout-item strong {
                 display: block;
                 margin-bottom:5px;
             }

 .filterform {
     width: 94%;
     padding: 3%;
     background: #f4f4f4;
     float: left;
 }

     .filterform legend {
         width: 100%;
         border-bottom: 1px solid #ddd;
         float: left;
         margin: 0;
         padding: 18px 0 0 0;
     }

         .filterform legend:first-child {
             padding: 0;
         }

     .filterform label.labelmark {
         width: 15%;
         height: 100%;
         float: left;
     }

     .filterform .formitem {
         width: 31%;
         margin-right: 1%;
         float: left;
     }

         .filterform .formitem input {
             width: auto;
             float: left;
         }

     .filterform input[type=text],
     .filterform input[type=number] {
         width: 200px;
         margin-right: 10px;
         float: left;
         height: 30px !important;
         padding: 0 10px !important;
         line-height: 30px;
         border: 1px solid #ccc;
     }

     .filterform select {
         width: 220px;
         margin-right: 10px;
         float: left;
         height: 32px !important;
         padding: 0 10px !important;
         line-height: 32px;
         border: 1px solid #ccc;
     }

     .filterform input[type=number] {
         padding: 0 0 0 10px !important;
     }

 .table-information td {
     font-size: 15px;
     line-height: 20px;
     padding-bottom: 10px !important;
 }

     .table-information td i.fa {
         color: #d71785;
     }

 .venue-facilities-list {
     margin: 0;
     padding: 0;
 }

     .venue-facilities-list li {
         margin: 0 0 5px 0;
         padding: 0;
         width: 48%;
         display: inline-table;
     }

         .venue-facilities-list li i {
             color: #d71785;
         }





 .venue-kita-map {
     width: 100%;
     height: 100%;
     display: block;
 }

 .infobox {
     border: 2px solid black;
     padding: 10px;
     background: white;
 }

 .delete-icon i {
     color: #d71584;
     position: absolute;
     top: 5px;
     left: 0;
     z-index: 9900;
 }

 .venue-filter .label-venue-layout {
     width: 50px;
     height: 50px;
     padding: 5px;
     display: inline-block;
     cursor: pointer;
     margin: 0 3px 0 0;
     border: 7px solid #D4D4D4;
     border-radius: 15px;
 }

 .venue-filter label.r_on {
     width: 50px;
     height: 50px;
     padding: 0;
     display: inline-block;
     opacity: 1;
     -webkit-filter: grayscale(0);
     filter: grayscale(0);
 }

 .venue-filter .label_check input,
 .venue-filter .label-venue-layout input {
     position: absolute;
     left: -9999px;
 }

 .label-venue-layout {
     background-size: 100% !important;
     opacity: 0.6;
     background-color: #fff;
     -webkit-filter: grayscale(1);
     filter: grayscale(1);
 }




 /* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
 @media only screen and (max-width: 768px) {

     .bx-wrapper {
         display: none;
     }

     section.my-list {
         margin-top: 0 !important;
         padding: 3%;
         width: 94%;
         position: relative;
         clear: both;
         float: left;
     }

         section.my-list .my-venue {
             width: 100%;
             padding: 0;
             margin: 0;
             margin-bottom: 2%;
         }

     .overlay-venuekita {
         display: none;
     }

     section.my-list .my-venue .img-thumb {
         width: 20% !important;
         margin: 0;
     }

     section.my-list .my-venue strong {
         padding: 2%;
         width: 75% !important;
     }

     section.my-list .my-venue i.fa {
         position: relative;
         top: 0;
         right: 0;
         margin-left: 3%;
     }
 }


 /* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
 @media only screen and (max-width: 640px) {
    section#main-venue-sidebar {
         width: 94%;
         margin: 3%;
     }

     section#main-venue-content {
         width: 94%;
         margin: 3%;
     }
 }




 /*SOPIAN ADD THIS CSS*/
 #modal-one {
     z-index: 999;
 }

 .btn {
     background: #428bca;
     border: #357ebd solid 1px;
     border-radius: 3px;
     color: #fff;
     display: inline-block;
     font-size: 14px;
     padding: 8px 15px;
     text-decoration: none;
     text-align: center;
     min-width: 60px;
     position: relative;
     transition: color .1s ease;
 }

     .btn:hover {
         background: #357ebd;
     }

     .btn.btn-big {
         font-size: 18px;
         padding: 15px 20px;
         min-width: 100px;
     }

 .btn-close {
     color: #aaaaaa;
     font-size: 30px;
     text-decoration: none;
     position: absolute;
     right: 15px;
     top: 15px;
 }

     .btn-close:hover {
         color: #919191;
         margin-top: 3px;
     }

 .modal:before {
     content: "";
     display: none;
     background: rgba(0, 0, 0, 0.7);
     position: fixed;
     top: 0;
     left: 0;
     right: 0;
     bottom: 0;
     z-index: 10;
 }

 .modal:target:before {
     display: block;
 }

 .modal:target .modal-dialog {
     -webkit-transform: translate(0, 0);
     -ms-transform: translate(0, 0);
     transform: translate(0, 0);
     top: 6%;
     z-index: 99999999 !important;
 }

 .modal-dialog {
     background: #fefefe;
     border: none;
     border-bottom: 5px solid #D71785 !important;
     border-top: 5px solid #D71785 !important;
     border-radius: 0px;
     margin-left: -200px;
     position: fixed;
     left: 50%;
     top: -100%;
     z-index: 11;
     width: 30%;
     -webkit-transform: translate(0, -500%);
     -ms-transform: translate(0, -500%);
     transform: translate(0, -500%);
     -webkit-transition: -webkit-transform 0.3s ease-out;
     -moz-transition: -moz-transform 0.3s ease-out;
     -o-transition: -o-transform 0.3s ease-out;
     transition: transform 0.3s ease-out;
 }

 .modal:target .modal-dialog2 {
     -webkit-transform: translate(0, 0);
     -ms-transform: translate(0, 0);
     transform: translate(0, 0);
     top: 12%;
     z-index: 99999999 !important;
 }

 .modal-dialog2 {
     background: #fefefe;
     border: none;
     border-bottom: 5px solid #D71785 !important;
     border-top: 5px solid #D71785 !important;
     border-radius: 0px;
     position: fixed;
     left: 22%;
     top: -100%;
     z-index: 11;
     width: 54%;
     -webkit-transform: translate(0, -500%);
     -ms-transform: translate(0, -500%);
     transform: translate(0, -500%);
     -webkit-transition: -webkit-transform 0.3s ease-out;
     -moz-transition: -moz-transform 0.3s ease-out;
     -o-transition: -o-transform 0.3s ease-out;
     transition: transform 0.3s ease-out;
     max-height: 500px;
     overflow-y: scroll;
 }

     .modal-dialog2 > .modal-header {
         text-align: center !important;
     }

 .modal:target .modal-dialog3 {
     -webkit-transform: translate(0, 0);
     -ms-transform: translate(0, 0);
     transform: translate(0, 0);
     top: 10%;
     z-index: 99999999 !important;
 }

 .modal-dialog3 {
     background: #fefefe;
     border: none;
     border-bottom: 5px solid #D71785 !important;
     border-top: 5px solid #D71785 !important;
     border-radius: 0px;
     margin-left: -200px;
     position: fixed;
     left: 50%;
     top: -100%;
     z-index: 11;
     width: 30%;
     -webkit-transform: translate(0, -500%);
     -ms-transform: translate(0, -500%);
     transform: translate(0, -500%);
     -webkit-transition: -webkit-transform 0.3s ease-out;
     -moz-transition: -moz-transform 0.3s ease-out;
     -o-transition: -o-transform 0.3s ease-out;
     transition: transform 0.3s ease-out;
 }

 .modal:target .modal-dialog4 {
     -webkit-transform: translate(0, 0);
     -ms-transform: translate(0, 0);
     transform: translate(0, 0);
     top: 10%;
     z-index: 99999999 !important;
 }

 .modal-dialog4 {
     background: #fefefe;
     border: none;
     border-bottom: 5px solid #D71785 !important;
     border-top: 5px solid #D71785 !important;
     border-radius: 0px;
     margin-left: -200px;
     position: fixed;
     left: 50%;
     top: -100%;
     z-index: 11;
     width: 30%;
     -webkit-transform: translate(0, -500%);
     -ms-transform: translate(0, -500%);
     transform: translate(0, -500%);
     -webkit-transition: -webkit-transform 0.3s ease-out;
     -moz-transition: -moz-transform 0.3s ease-out;
     -o-transition: -o-transform 0.3s ease-out;
     transition: transform 0.3s ease-out;
 }

 a.tnc {
     font-size: 12px;
     text-decoration: none;
     color: #B0AEAE !important;
 }

 .modal-body {
     padding: 20px;
 }

     .modal-body > form {
         margin-bottom: -10px !important;
     }

 .modal-header,
 .modal-footer {
     padding: 10px 20px;
 }

 .modal-header {
     border-bottom: #eeeeee solid 1px;
 }

     .modal-header h2 {
         font-size: 20px;
     }

 .modal-footer {
     border-top: #eeeeee solid 1px;
     text-align: center;
 }

 .emails > input {
     /*width: 94.8% !important;*/
     width: 100%;
     line-height: 27px !important;
     font-size: 14px;
 }

 .emails > label {
     text-align: center;
     text-transform: uppercase !important;
 }

 .venues > input {
     width: 100% !important;
     line-height: 27px !important;
     font-size: 14px;
 }

 .venues > label {
     text-align: left !important;
     text-transform: uppercase !important;
 }

 .pass > input {
     width: 94.8% !important;
     line-height: 27px !important;
     font-size: 14px;
 }

 .pass > label {
     text-align: center !important;
     text-transform: uppercase !important;
 }

 .modal-header > h2 {
     margin-bottom: -6px;
     margin-top: 10px !important;
     text-align: center;
 }

 .btnlogin {
     width: 100% !important;
     padding-top: 10px !important;
     padding-bottom: 10px !important;
     text-transform: uppercase !important;
     font-size: 17px !important;
     font-family: "lato";
     margin-top: 7px !important;
 }

     .btnlogin:hover {
         background: #AE0F6A !important;
         border: none !important;
         color: #fff !important;
     }

 .loginfb {
     background: #2D477E;
     color: #FFF;
     padding: 5px;
     padding-top: 10px;
     padding-bottom: 10px;
     font-family: 'lato';
     text-transform: uppercase;
     text-align: center;
     width: 100%;
     margin-bottom: 7px !important;
     font-size: 12px;
 }

     .loginfb:hover {
         color: #fff;
         background: #3E60A7;
         border: none;
     }

 .logintwitter {
     background: #03ABEA;
     color: #FFF;
     padding: 5px;
     padding-top: 10px;
     padding-bottom: 10px;
     font-family: 'lato';
     text-transform: uppercase;
     text-align: center;
     width: 100%;
     margin-bottom: 7px !important;
     font-size: 12px;
 }

     .logintwitter:hover {
         color: #fff;
         background: #0492C8;
         border: none;
     }

 a.loginnew {
     background: #000;
     color: #FFF;
     padding: 5px;
     padding-top: 10px;
     padding-bottom: 10px;
     font-family: 'lato';
     text-transform: uppercase;
     text-align: center;
     width: 100%;
     margin-top: 0px !important;
     font-size: 12px;
 }

     a.loginnew:hover {
         color: #fff;
         background: #333;
         border: none;
     }

 .venueplaceform {
     width: 100%;
 }

 .formInput {
     position: relative;
     font: 300 1em/48px "Open Sans";
     margin: 0 0 8px;
     padding: 0;
     /*border-bottom: 1px solid #c0c0c0;
     border-radius: 4px;*/
     overflow: hidden;
     color: #505050;
 }

     .formInput:hover {
         color: black;
     }

     .formInput i {
         display: block;
         position: absolute;
         z-index: -1;
         top: 0;
         left: 0;
         width: 48px;
         height: 47px;
         line-height: 48px;
         text-align: center;
         /*background-color: #e0e0e0;
     box-shadow: 1px 1px 1px rgba(0,0,0,0.25);*/
         font-size: 1em;
         transition: box-shadow .2s, color .3s, background-color .4s;
     }

     .formInput input {
         box-sizing: border-box;
         z-index: 1;
         display: block;
         position: relative;
         top: 0;
         left: 0;
         float: left;
         font-size: 1em;
         font: inherit;
         border: 0;
         margin: 0;
         padding: 0 4px 0 56px;
         border: 1px solid transparent;
         border-radius: inherit;
         width: 100%;
         height: 47px;
         line-height: 47px;
         background: transparent;
         color: inherit;
         transition: border-color .2s, color .2s, background-color .4s;
     }

     .formInput.hasTextarea {
         line-height: 24px;
         height: 191px;
     }

         .formInput.hasTextarea i {
             border-radius: 0 0 3px;
         }

     .formInput textarea {
         box-sizing: border-box;
         resize: none;
         z-index: 1;
         display: block;
         position: relative;
         top: 0;
         left: 0;
         float: left;
         font-size: 1em;
         font: inherit;
         border: 1px solid transparent;
         border-radius: inherit;
         margin: 0;
         padding: 12px 4px 6px 56px;
         width: 100%;
         height: 100%;
         line-height: 24px;
         background: transparent;
         color: inherit;
         transition: border-color .2s, color .2s, background-color .4s;
     }

 .centertxt {
     text-align: center;
 }





 .nopadding {
     padding: 0px !important;
 }

 .rowcopy2 > a {
     color: #fff !important;
     text-decoration: none;
     outline: 0px none;
     transition: all 0.5s ease 0s;
     font-size: 16px;
 }

 .rowcopy2 {
     padding-top: 6px !important;
 }

 .rowcopy {
     padding-top: 6px !important;
 }

 .row-logo > .logoscorp {
     display: inline-flex;
 }

 .row-logo > p {
     color: #000 !important;
     margin-bottom: -16px;
 }

 .row-logo > a > img {
     width: 15%;
     height: auto;
 }



 .container.row-logo {
     margin-top: 26px;
 }

 .filterform {
     padding-top: 60px;
     width: 100%;
     background: #FFF none repeat scroll 0% 0%;
     /*float: left;*/
     border-bottom: 1px solid #DDD;
 }

 .filterform2 {
     /*padding-top: 60px;*/
     /*width: 100%;*/
     /*background: #FFF none repeat scroll 0% 0%;*/
     /*float: left;*/
     /*border-bottom: 1px solid #DDD;*/
 }

 section.my-list .button:hover {
     background: #FBA326;
     border-bottom: 4px solid #D47C01 !important;
 }
 /*END OF SOPIAN CSS*/
 /*GANI CSS*/
 a span.hover-content i {
     position: absolute;
     bottom: 2%;
     left: 4%;
     -moz-transition-property: opacity;
     -o-transition-property: opacity;
     -webkit-transition-property: opacity;
     transition-property: opacity;
     -moz-transition-duration: 0.3s;
     -o-transition-duration: 0.3s;
     -webkit-transition-duration: 0.3s;
     transition-duration: 0.3s;
 }

 a span.hover-content:hover {
     opacity: 0.6;
     font-size: 5em;
     background: #d50000;
     color: #fff;
 }

 a span.hover-content {
     background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 80%, rgba(0, 0, 0, 0.7));
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     opacity: 0.7;
     color: #fff;
     font-size: 1em;
     -moz-transition-property: all;
     -o-transition-property: all;
     -webkit-transition-property: all;
     transition-property: all;
     -moz-transition-duration: 0.3s;
     -o-transition-duration: 0.3s;
     -webkit-transition-duration: 0.3s;
     transition-duration: 0.3s;
 }

     a span.hover-content i {
         position: absolute;
         bottom: 2%;
         left: 4%;
         -moz-transition-property: opacity;
         -o-transition-property: opacity;
         -webkit-transition-property: opacity;
         transition-property: opacity;
         -moz-transition-duration: 0.3s;
         -o-transition-duration: 0.3s;
         -webkit-transition-duration: 0.3s;
         transition-duration: 0.3s;
     }
 /*END OF GANI CSS*/



 /*CSS SOPIAN 09102015*/
 a span.hover-content:hover i {
     bottom: calc(50% - 0.5em);
     left: 50%;
     transform: translate(-50%, 0%);
 }
 form.search-home-form {
     margin-left: 3%;
 }

 .container.search-home-form {
     /*margin-left: 8%;*/
     margin-left: 17%; /*Pembaruan CSS*/
 }

 input.btnregistervendor {
     background: #d71785 !important;
     color: #fff !important;
     display: inline-block !important;
     font-size: 18px !important;
     font-weight: bold !important;
     text-decoration: none !important;
     cursor: pointer !important;
     margin: 20px 0 !important;
     line-height: normal !important;
     padding: 17px !important;
     border: none !important;
     width: 100%;
     font-family: 'lato';
 }

 .addpadding100px {
     padding-top: 100px;
 }


 .tambahkan-btn {
     float: right;
     margin-right: -15px;
     margin-top: -2px;
 }

 .my-venue > a > i.fa {
     background: #CF000F;
     padding: 8px;
     border-radius: 5px;
 }

     .my-venue > a > i.fa:hover {
         background: #F22613;
         border-bottom: 3px solid #96281B;
     }
 .purple-borderbtm{

 }
 .description-details{
     background:#fff;
     /*padding:20px;*/
 }
 .e-btn{
     margin-top:6px !important;
 }
 .venue-detail-venue h3{
     width: 39%;
     background: #444;
     padding-left: 1%;
     border-bottom: 4px solid #DB258D;
 	font-weight:900 !important;
 }
 .venue-detail-venue .venue-detail-content {
     margin-top: -40px;
 }
 .popover {
    /* position: absolute;
     top: 277px;*/
     left: 4.6%;
     z-index: 1060;
     max-width: 232px;
     padding: 1px;
     font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
     font-size: 14px;
     font-style: normal;
     font-weight: 400;
     line-height: 1.42857;
     text-align: start;
     text-decoration: none;
     text-shadow: none;
     text-transform: none;
     letter-spacing: normal;
     word-break: normal;
     word-spacing: normal;
     word-wrap: normal;
     white-space: normal;
     background-color: #FFF;
     background-clip: padding-box;
     border: 1px solid rgba(0, 0, 0, 0.2);
     border-radius: 6px;
     box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
 }
  .popover.bottom > .arrow {
     top: -11px;
     left: 50%;
     margin-left: -11px;
     border-top-width: 0px;
     border-bottom-color: rgba(0, 0, 0, 0.25);
 }
 .popover > .arrow {
     border-width: 11px;
 }
 .popover > .arrow, .popover > .arrow::after {
     position: absolute;
     display: block;
     width: 0px;
     height: 0px;
     border-color: transparent;
     border-style: solid;
 }

 .popover.bottom > .arrow::after {

     top: 1px;
     margin-left: -10px;
     content: " ";
     border-top-width: 0px;
     border-bottom-color: #FFF;

 }
 .popover > .arrow::after {

     content: "";
     border-width: 10px;

 }
 .popover > .arrow, .popover > .arrow::after {

     position: absolute;
     display: block;
     width: 0px;
     height: 0px;
     border-color: transparent;
     border-style: solid;

 }.popover-title {
     padding: 8px 14px;
     margin: 0px;
     font-size: 14px;
     background-color: #F7F7F7;
     border-bottom: 1px solid #EBEBEB;
     border-radius: 5px 5px 0px 0px;
 }.popover-content {
     padding: 9px 14px;
 }
  .desc-text-top{
      padding:15px;
  }
  .animated {
   animation-duration: 4s;
   animation-fill-mode: both;
   animation-iteration-count: infinite;
 }
   .popupanimated {
   animation-duration: 3s;
   animation-fill-mode: both;
   animation-iteration-count: infinite;
 }
  .hiding{
      display:none;
  }
  /* begin 20151016 from mas Gani*/

 .popovers {
    /* position: absolute;
     top: 277px;*/
     left: 4.6%;
     z-index: 1060;
     max-width: 232px;
     padding: 1px;
     font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
     font-size: 14px;
     font-style: normal;
     font-weight: 400;
     line-height: 1.42857;
     text-align: start;
     text-decoration: none;
     text-shadow: none;
     text-transform: none;
     letter-spacing: normal;
     word-break: normal;
     word-spacing: normal;
     word-wrap: normal;
     white-space: normal;
     background-color: #FFF;
     background-clip: padding-box;
     border: 1px solid rgba(0, 0, 0, 0.2);
     border-radius: 6px;
     box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
 }
  .popovers.bottom > .arrow {
     top: -11px;
     left: 50%;
     /*margin-left: -10px;*/
     margin-bottom: auto;
     border-top-width: 0px;
     border-bottom-color: rgba(0, 0, 0, 0.25);
 }
 .popovers > .arrow {
     border-width: 11px;
 }
 .popovers > .arrow, .popovers > .arrow::after {
     position: absolute;
     display: block;
     width: 0px;
     height: 0px;
     border-color: transparent;
     border-style: solid;
 }

 .popovers.bottom > .arrow::after {
     top: 1px;
     /*margin-left: -10px;*/
     margin-bottom: auto;
     content: " ";
     border-top-width: 0px;
     border-bottom-color: #FFF;
     transition-delay: 0.2s;
 }
 .popovers > .arrow::after {
     content: "";
     border-width: 10px;
 }
 .popovers > .arrow, .popovers > .arrow::after {

     position: absolute;
     display: block;
     width: 0px;
     height: 0px;
     border-color: transparent;
     border-style: solid;

 }.popovers-title {
     padding: 8px 14px;
     margin: 0px;
     font-size: 14px;
     background-color: #F7F7F7;
     border-bottom: 1px solid #EBEBEB;
     border-radius: 5px 5px 0px 0px;
 }.popovers-content-venuepilihan {
     padding: 9px 14px;
 }
  .desc-text-top{
      padding:15px;
  }
  .animateds {
   animation-duration: 3s;
   animation-fill-mode: both;
   animation-iteration-count: infinite;
 }
  .hidings{
      display:none;
  }
  /* END 20151016 from mas Gani*/
  .con-detail {
     display: inline-block;
 	background: transparent none repeat scroll 0% 0%;
 	position: absolute;
 	height: 266px;
 	width: 331px;
 	/*margin-top: -266px !important;*/
 	/*margin-left: -166px !important;*/
 }
  .container_1:hover .con_1 {
    transform: scale(1, 1);
    opacity: 1;
 }
  .container_1:hover .text_1,
 .container_1:hover .b1 {
    transform: scale(1, 1);
    opacity: 1;
 }
 .overlay2 {
     position: absolute;
     background: rgba(0, 0, 0, 0.5) none repeat scroll 0% 0%;
     width: 126.6%;
     height: 102%;
     transition: all 500ms cubic-bezier(0.46, 0.695, 0, 0.98) 0s;
     overflow: hidden;
     left: -13%;
     top: -2.5%;
 }

 .con_1 {
    transform: scale(0, 0);
    opacity: 0;
 }
 .container_1:hover .text_1,
 .container_1:hover .b1 {
    transform: scale(1, 1);
    opacity: 1;
 }
 .button {
     width: 130px;
     font-size: 16px;
     margin: 35px auto 0px;
     padding: 1vh;
     border-radius: 0px;
     border: 2px solid #FFF;
     transition-delay: 0.2s;
     transform: scale(0, 0);
     opacity: 0;
 }

 /* begin 20151012 from mas sopian*/

 .tambahkan-btn {
     float: right;
     margin-right: -10px;
     margin-top: -10px;
 }

 // add rule:
 .button, button, input[type="submit"], input[type="reset"], input[type="button"]{
   border-bottom: 4px solid #9B1060;
 }

 #pnlFormQuoteNow>.venues>.row>img{
   margin-top: -34px;
   margin-left: -67px;
 }



 section#main-venue-sidebar .venue-get-info {
     margin-top: 0px !important;
 }

 .overlay2 {
     height: 100% !important;
     left: 0px !important;
     top: 0px !important;
     width: 100% !important;
 }

 .overlay2>a>h2.button{
   margin: 0px auto !important;
 }

 /* end 20151012 from mas sopian*/
 /* begin 20151014 from mas sopian*/
 .popover{
   /*top: 223px !important;*/
   left: -6.2% ;
 }
 div#panel2.modalPopup{
     height: 500px ;/*!important;*/
     position: fixed;
     top: 10% !important;
     overflow: scroll !important;
 }
 .con-detail {
     position: absolute;
     height: 100% !important;
     width: 100% !important;
     top: 0px !important;
     left: 0px !important;
 }
 /* end 20151014 from mas sopian*/
 /* begin 20151017 rom mas Sopian*/
 @media only screen and (max-width: 480px) {
     .popover{
       /*top: 223px !important;*/
       left: 0% !important;
     }

     .row-logo>a>img {
         width: 125px !important;
         height: auto;
     }
     .four.columns.rowcopy3 {
         /* margin-top: -1px; */
         position: absolute;
     }
     div#ContentPlaceHolder1_divanimate{
         top: 38% !important;
         left: -1% !important;
     }
     .venue-detail-venue .venue-detail-venue-image {
         width: 100%;
         background-position: center;
         background-size: cover;
         float: left;
         text-align: center;
         position: relative;
     }
     .venue-detail-venue .venue-detail-content {
          margin-top: 10px;
     }
     .venue-detail-venue .venue-detail-content {
         width: 100%;
         float: right;
         padding-top: 10px;
     }
     .venue-detail-venue h3 {
         width: 99%;
     }
     div.section-venue-sidebar>table>tbody>tr>td{
         width: 24px !important;
     }

     div.callout {
         /* box-shadow: 0 1px 0 rgba(255, 255, 255, 0.0) inset; */
         width: 200px !important;
         font-size: 13px;
         font-family: 'lato';
     }
     section.my-list p {
         float: right;
          margin: 0;
         font-size: 16px;
     }
     section.my-list p {
         float: left;
         margin: 5% 0% 6% 0% !important;
         color: #fff !important;
         font-size: 14px;
     }
     div.callout {
         margin: 0 !important;
         width: 150px !important;
         font-size: 12px;
         line-height: 1.5;
         word-spacing: 3px;
     }
     .callout.left::before {
         right: -18px !important;
         top: 40% !important;
     }
     section#main-venue-sidebar {
         position: relative !important;
     }
 }
 @media only screen and (max-width: 768px) {

 	small {
 	    font-size: 75%;
 	}


 	.rowcopy3 {
 		padding-top: 2%;
 	}
     a#ContentPlaceHolder1_lbtnGetAQuote,a#ContentPlaceHolder1_lbtnGetDetailInfo{
         font-size: 13px !important;
     }
     div#ContentPlaceHolder1_divanimate{
         position: absolute;
         z-index: 1;
         top: 40% !important;
         left: -16%;
     }
     .venue-detail-venue h3 {
         width: 100%;
     }
     .venue-detail-venue .venue-detail-content {
         margin-top: 0px;
     }
     .venue-detail-venue .venue-detail-content .venue-layout-item {
         width: 18%;
     }

 	section#main-venue-sidebar {
 	    margin-top: 55px;
     	position: fixed;
 	}
 	td {
 	    border: none;
 	    position: relative;
 	    width: 20px !important;
 	}
 	.tambahkan-btn {
 	    float: right;
 	    margin-right: -10px;
 	    /* margin-top: -10px; */
 	    bottom: 10px;
 	    position: absolute;
 	    right: 20px;
 	}
 	section.my-list p {
 	    float: left;
 	    margin: 45% 0px 0px -99%;
 	    color: #fff !important;
 	}

 }

 div#ContentPlaceHolder1_divanimate{
     top: 38% !important;
 }
 div#divanimated{
     top: 115% !important;
     right: 0.5% !important;
 }
 .form-inline-filter{
     display: inline-flex;
     width: 100%;
     margin-top: -35px;
     padding: 10px;
 }
 .kapasitas{
     display: inline-flex;
     padding-left: 15px;
     width: 100%;
     height: 38px;
 }
 .form-inline-filter>.e-datetime-wrap{
     display: inline-block !important;
     width: 32%;
     height: 38px;
 }
 .venue-detail-search {
     min-height: 35% !important;
 }
 .form-inline-filter>span {
     width: 30.5%;
     margin: 5px;
 }
 /*table.layout-rows{
 	margin-left: 15px;
     margin-right: 15px;
     width: 100%;
 }
 table.layout-rows>tbody>tr>td{
 	width: 10%;
 }
 table.layout-rows>tbody>tr>td.searchfilter{
 	width: 30% !important;
 	text-align: center;
 	padding: 22px;
 }*/

 .searchfilter>a:hover {
     background: #C14F03;
     color: #fff;
 }
 .available{
 	background: #2ecc71 !important;
     border-radius: 0px;
     border-bottom: 4px solid #27ae60  !important;
     font-weight: bold;
     color: #fff  !important;
 }

 .available:hover{
 	background: #24B963 !important;
 	color: #fff !important;
 }
 .callus{
 	background: #e67e22 !important;
     border-radius: 0px;
     border-bottom: 4px solid #d35400 !important;
     font-weight: bold;
     color: #fff !important;
 }

 .callus:hover{
 	background: #C7742A !important;
 	color: #fff !important;
 }
 .unavailable{
 	background: #95a5a6;
     border-radius: 0px;
     border-bottom: 4px solid #7f8c8d;
     font-weight: bold;
     color: #fff;
 }
 /*end of btn-overlay-kami-urus*/
 /*End OF CSS SOPIAN 22102015*/
 /*BEGIN OF GANI 20151111*/
 .tata-ruangan{
     display: inline-flex;
     padding-left: 15px;
     width: 100%;
     height: 38px;
 }
 /*END OF GANI 20151111*/


 /*SOPIAN 15112015*/
 .padding50{
     padding-top: 50px;
 }
 .searchfilter > a {
     background: none repeat scroll 0% 0% #F26203 !important;
     color: #FFF !important;
    /*padding: 20px 72px !important;*/
    padding: 20px 32px !important;
     border-bottom: 6px solid #B94900 !important;
     font-size: 18px !important;
     font-family: "lato" !important;
     font-weight:700;
   /* margin-left: -45px !important;*/
 }

 /*end of SOPIAN 15112015*/

 /*Begin pagination 2015/11/17*/
 .pagerUp {
   /* padding-left: 225.5px; */
   padding-left: 220.5px;
   margin: 20px 29px 25px -197px;
   text-align: center;
   list-style: none;
 }
 .pagerUp li {
   display: inline;
   color: #000;
 }
 .pagerUp li > a,
 .pagerUp li > span {
   display: inline-block;


 }
 .pagerUp li > a:hover,
 .pagerUp li > a:focus {
   text-decoration: none;
   background-color: #eee;
 }
 .pagerUp .next > a,
 .pagerUp .next > span {
   float: right;
 }
 .pagerUp .previous > a,
 .pagerUp .previous > span {
   float: left;
 }
 .pagerUp .disabled > a,
 .pagerUp .disabled > a:hover,
 .pagerUp .disabled > a:focus,
 .pagerUp .disabled > span {
   color: #777;
   cursor: not-allowed;
   background-color: #fff;
 }

 .pagerBottom {
    padding-left: 146.5px;
   margin: 20px 45px 25px -114px;
   text-align: center;
   list-style: none;
    /*padding-left: 220.5px;
   margin: 20px 29px 25px -197px;
   text-align: center;
   list-style: none;*/
 }
 .pagerBottom li {
   display: inline;
   color: #000;
 }
 .pagerBottom li > a,
 .pagerBottom li > span {
   display: inline-block;
   padding: 5px 14px;
   background-color: #fff;
   border: 1px solid #d71785;
   border-radius: 15px;
 }
 .pagerBottom li > a:hover,
 .pagerBottom li > a:focus {
   text-decoration: none;
   background-color: #eee;
 }
 .pagerBottom .next > a,
 .pagerBottom .next > span {
   float: right;
 }
 .pagerBottom .previous > a,
 .pagerBottom .previous > span {
   float: left;
 }
 .pagerBottom .disabled > a,
 .pagerBottom .disabled > a:hover,
 .pagerBottom .disabled > a:focus,
 .pagerBottom .disabled > span {
   color: #777;
   cursor: not-allowed;
   background-color: #fff;
 }
 /*And pagination 2015/11/17*/

.prip-pol-announcement {
    width: 100%;
    padding: 13px 180px;
    position: fixed;
    top: 50px;
    left: 0;
    text-align: center;
    background-color: rgba(69,69,69, .95);
    z-index: 100;

    .announce-text {
        font-size: 0.875em;
        line-height: 1.4285em;
        color: $white;

        > a {
            font-weight: 700;
            color: #FF4081;
        }
    }
  .announce-close-trigger {
    @include size(32px, 32px);
    position: absolute;
    right: 15px;
    top: 50%;
    margin-top: -16px;
    color: $white;
    line-height: 32px;
    cursor: pointer;
  }
}