/**
 * Responsive Style: Extra Large Desktop
 * =============================================================================
 * Author: Arvianto Dwi <arvianto.dwi@programmer.net>
 * Since : 2016-05-01 (v1.0.0)
 */

/* =============================================================================
 * Component - Footer Style
 * =============================================================================
 */
#pnlFooterGlobal > .partial-footer > #web-global-footer {
  > .container {
    .footer-right { max-width: none; }
  }
}

/* =============================================================================
 * Venue List Page Style
 * =============================================================================
 */
.venue-list {
  .list-catalog {
    .filter-result {
      margin: 0;

      .col-lg-4 {
        width: 23.5%;
        padding: 0;
        margin: 0 2% 2% 0;

        &:nth-of-type(4n) { margin-right: 0; }
        &:nth-of-type(9),
        &:nth-of-type(10),
        &:nth-of-type(11),
        &:nth-of-type(12) { margin-bottom: 0; }
      }
    }
  }
 }