/**
 * Responsive Style: Large Desktop
 * =============================================================================
 * Author: Arvianto Dwi <arvianto.dwi@programmer.net>
 * Since : 2016-04-29 (v1.0.0)
 */

/* =============================================================================
 * Venue List Page Style
 * =============================================================================
 */
.venue-list {
  .list-catalog {
    .filter-result {
      margin: 0;

      .col-lg-4 {
        width: 32%;
        padding: 0;
        margin: 0 2% 2% 0;

        &:nth-of-type(3n) { margin-right: 0; }
        &:nth-of-type(10),
        &:nth-of-type(11),
        &:nth-of-type(12) { margin-bottom: 0; }
      }
    }
  }
 }