/**
 * Responsive Style: Portrait Phone
 * =============================================================================
 * Author: Arvianto Dwi <arvianto.dwi@programmer.net>
 * Since  : 2015-12-23 (v1.0.0)
 * Updated: 2016-03-29 (v1.1.0) - New responsive base for mobile devices
 *        : 2016-04-05 (v1.2.0) - Add new venue detail responsive style
 *        : 2016-04-13 (v1.3.0) - Add new order checkout responsive style
 *        : 2016-04-24 (v1.3.1) - Add holiday responsive style
 */

/* =============================================================================
 * Component - Topbar Style
 * =============================================================================
 */
.header-venuekita,
.header-venuekita.header-home {
  @include size(100%, 62px, content-box);
  margin: 0;
  padding: 0;
  position: fixed;
  top: 0;
  left: 0;
  border-bottom: solid 4px $blue_mid;
  background-color: $white;

  > a:last-of-type {
    @include size(164px, 36px);
    margin: 13px 0 13px 20px;
    // Animation Overriding
    opacity: 1 !important;
    transform: translateY(0) scale(1) !important;
    transition: transform 1.5s cubic-bezier( 0.6, 0.2, 0.1, 1 ) 0s, opacity 1.5s cubic-bezier( 0.6, 0.2, 0.1, 1 ) 0s !important;

    &::before {
      content: '';
      @include size(100%, 100%);
      display: block;
      background: {
        image: url(/Content2016/Images/layout/logo-inverse.png);
        position: left center;
        size: cover;
      }
    }

    > img { display: none; }
  }

  #nav-toggle,
  #mobile-vlfilter-toggle.filter-active { display: block; }

  .nav-collapse {
    @include size(100%, auto);
    display: none;
    margin: 0;
    position: fixed;
    top: 66px;
    right: 0;
    background-color: $blue_mid;
    box-shadow: 0 11px 23px rgba($black, 0.35);

    > ul {
      padding: 0 0 27px;

      > li {
        @include size(100%, auto, border-box);
        float: none;
        padding: 0 21px;

        &.listup { margin-left: 0; }

        a {
          display: block;
          line-height: 45px;
          border: {
            style: solid;
            width: 0 0 2px !important;
            color: $white;
          }
          padding: 8px 0 8px 7px !important;
          font: {
            size: 1.125em;
            weight: 400;
          }
          color: $white;
        }
      }
    }
  }
}

/* =============================================================================
 * Component - Footer Style
 * =============================================================================
 */
#pnlFooterGlobal #web-global-footer,
#pnlFooterGlobal > .partial-footer > #web-global-footer {
  padding: {
    top: 15px;
    bottom: 55px;
  }

  > .container {
    width: 100%;
    max-width: 100%;
    position: relative;
    padding: 0 15px;

    .footer-left, .footer-right {
      width: 100%;
      max-width: none;
      float: none;
      text-align: center;
    }

    .footer-left {
      > small {
        @include size(170px, 55px);
        position: absolute;
        bottom: -55px;
        left: 50%;
        margin-left: -85px;
        text-align: center;
        line-height: 55px;
      }

      > nav > ul > li {
        &.page-navigation {
          margin: {
            top: 0;
            left: 0;
          }

          > a {
            padding: 0 12px;
            margin-right: -4px;
            display: inline-block;
            float: none;

            &::before {
              content: '';
              @include size(1px, 8px);
              background-color: $text_sub;
              position: absolute;
              left: 0;
              top: 50%;
              margin-top: -4px;
            }
            &:first-of-type { padding-left: 12px; }
            &:last-of-type {
              padding-right: 12px;

              &::after {
                content: '';
                @include size(1px, 8px);
                background-color: $text_sub;
                position: absolute;
                right: 0;
                top: 50%;
                margin-top: -4px;
              }
            }
          }
        }
        &.social-navigation > a { float: none; }
      }
    }

    .footer-right {
      width: 100%;
      margin-top: 20px;

      > a {
        display: inline-block;
        float: none;
        vertical-align: top;

        &.telkom { margin-right: 0; }
        &.veritrans { margin-top: 21px; }
      }
    }
  }
}

/* =============================================================================
 * Home / Landing Page Style
 * =============================================================================
 */
.headline-wrapper {
  height: auto;
  padding-top: 66px;

  #home-slider { display: none; }
}

.home-search-form {
  position: static;
  height: auto;
  background-color: $blue;
  padding: 0;

  .inner-wrapper {
    @include size(100%, auto);
    max-width: 100%;
    padding: 5%;

    .venuekita-tagline {
      height: auto;
      padding: 0 0 8px;

      > h2, > a {
        position: relative;
        font-size:1em;
        z-index: 4;
      }
      > h2 { line-height: 1.375em; }

      .guarantee-icon {
        @include size(64px, 64px);
        padding: 0;
        border-radius: 64px;
        background-size: cover;
        position: relative;
        margin: -7px auto 5px;
      }
    }

    .filter-fields {
      padding: 0;
      border: solid 8px $blue_mid;
      background-color: $blue_mid;

      .field {
        width: 100% !important;
        float: none;

        &:not(:first-child) { margin-top: 1px; }
        &:not(:last-child) { margin-right: 0; }
        &:last-child { margin-top: 4px; }

        > input[type=datetime-local].wurfl.is-mobile {
          @include absoluteTo(top, left);
          display: block;
          visibility: hidden;
          z-index: 1;

          ~ input[type=text] {
            position: relative;
            z-index: 2;
          }
        }

        > button > i.fa { margin-right: 5px; }
      }
    }

    #modal {
      @include size(100%, 100%);
      border: 0;

      > img, > span {
        position: relative;
        top: 50%;
        margin-top: -16px;
      }
    }
  }
}

.uvp {
  width: 100%;
  padding: 66px 15px 0;
  margin-top: -66px;

  .feature-heading {
    margin: 27px 0 11px;
    font-size:1.625em;
  }

  .feature-summaries {
    width: 100%;
    margin-bottom: 7px;
    padding: 0 0 15px;
    position: relative;
    float: none;

    &:not(:last-of-type) {
      margin-right: 0;
      border: {
        style: solid;
        color: $blue_light;
        width: 0 0 1px;
      }
    }

    .illustration {
      @include size(54px, 54px, content-box);
      padding: 3px;
      margin-top: 40px;
      position: absolute;
      top: 0;
      left: 0;
      background-color: $blue_light;
      border-radius: 60px;
      overflow: hidden;

      .icon-figure {
        @include size(100%, 100%);
        border-radius: 54px;
        background-size: contain;
      }
    }

    > article {
      width: 100%;
      text-align: left;

      > p {
        min-height: 60px;
        font-size:0.875em;
        line-height: 1.5em;

        &:before {
          content: '';
          @include size(71px, 60px);
          display: block;
          float: left;
        }

        > br { display: none; }
      }
    }
  }
}

.tutorial-pv {
  @include size(90%, auto);
  margin: 0 auto;

  &:before {
    content: '';
    padding-top: 56.25%;
    display: block;
  }

  > iframe { @include size(100%, 100%); }
}

.clients-list {
  padding: 27px 15px 22px;

  .container {
    padding: 0;

    > h2 {
      margin: 0;
      font-size: 1.25em;
      line-height: 1.42em;

      > span { display: none; }
    }

    > ul {
      width: 90%;
      margin: 17px auto 0;
      position: relative;

      > li {
        height: 70px;
        padding: 0;
        margin: 0 0 18px 0;
        position: relative;
        display: block;

        /* Row 1 */
        &:nth-child(1), &:nth-child(6) { width: 47%; }
        &:nth-child(1) { @include clearfix('after'); }
        &:nth-child(6) {
          position: absolute;
          right: 0;
          top: 0;
        }
        /* Row 2 */
        &:nth-child(2), &:nth-child(3), &:nth-child(5) { width: 31%; }
        &:nth-child(2), &:nth-child(3) { float: left; }
        &:nth-child(3) {
          margin-left: 5%;
          @include clearfix('after');
        }
        &:nth-child(5) {
          position: absolute;
          right: 0;
          top: 0;
          margin-top: 89px;
        }
        /* Row 3 */
        &:nth-child(4), &:nth-child(9) { width: 47%; }
        &:nth-child(4) {
          clear: both;
          @include clearfix('after');
        }
        &:nth-child(9) {
          position: absolute;
          right: 0;
          top: 179px;
        }
        /* Row 4 */
        &:nth-child(7), &:nth-child(8) { width: 47%; }
        &:nth-child(7) {
          clear: both;
          @include clearfix('after');
        }
        &:nth-child(8) {
          position: absolute;
          right: 0;
          bottom: 0;
        }

        > img {
          @include size(auto, auto);
          max-height: 100%;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }
    }
  }
}

.media-partner-list {
  > h3 {
    padding: 21px 0 15px;

    > span { margin-right: 0; }
    > a {
      width: 70%;
      margin: {
        left: auto;
        right: auto !important;
      }

      &.techin {
        margin: {
          top: 24px;
          bottom: 22px;
        }
      }
      &.incubator { margin-bottom: 13px; }
    }
  }
}

.promo-intro {
  padding: 31px 5%;

  > h1 {
    font-size: 1.6875em;
    line-height: 1.407em;
    margin: 0 0 18px;
  }
  > p {
    font-size: 1em;
    line-height: 1.714em;
  }
}

#testimonial { display: none; }

.venue-list-home {
  .featured-venue {
    padding: 0;

    &:nth-of-type(4),
    &:nth-of-type(5),
    &:nth-of-type(6) { margin-bottom: 8px; }

    .venue-item.simple {
      .overlay-list-title { padding: 3% 3% 33%; }
    }
  }
}

.blog-summary {
  > h2 { margin-top: 11px; }

  .article-list > li {
    &:not(:last-of-type) { margin-bottom: 30px; }

    .post-container {
      box-shadow: 0 7px 27px rgba($blue, .44);

      > section {
        height: 365px;

        .post-heading {
          > h3 { margin-top: 22px; }
          .meta-info { display: none; }
        }
      }
    }
  }
}

/* =============================================================================
 * Venue List Page Style
 * =============================================================================
 */
.venue-list {
  padding-top: 66px;
  position: static;

  .list-heading {
    width: 100%;
    padding: 86px 15px 0;
    border-bottom: 0;

    > h1 {
      border: {
        style: solid;
        width: 1px 1px 0;
        color: $greyD5;
      }
      padding: 7px 14px;
      font-size: 1em;
      line-height: 1.391em;
    }

    #filter-form-trigger {
      width: 100%;
      margin-top: 0;
      position: relative;
      z-index: 98;
    }
  }

  .list-catalog {
    width: 100%;
    margin: 3% 0 30px;
    padding: 0 15px;
    position: static;

    .venuekita-tagline {
      @include size(100%, 72px);
      margin: 66px 0 0;
      padding: 13px 15px 12px;
      @include absoluteTo(top, left);
      background-color: $blue;

      > h2 {
        position: relative;
        font-size: 1em;
        line-height: 1.375em;
        z-index: 4;
      }

      .guarantee-icon { display: none; }
    }

    .pagination {
      height: auto;
      border-width: 1px;
      text-align: left;
      box-sizing: border-box;
      border-radius: 0;

      &.top-paging {
        margin: 0 0 3%;

        .pager { border-top: solid 1px $greyD5; }
      }
      &.bottom-paging { margin-bottom: 0; }

      .sorter {
        padding: 0 0 0 14px;
        display: block;
        border: 0;

        > label, > select { height: 43px; }

        > label {
          width: 42%;
          margin: 0;
          padding: 4px 0;
          float: left;
          border-right: solid 1px $greyD5;
          line-height: 35px;
        }
        > select {
          width: 58%;
          margin: 0;
          border: 0;
        }
      }

      .pager {
        display: block;
        border: 0;
        padding-left: 14px;

        > li {
          &:not(:last-child) { border-right: solid 1px $greyD5; }

          &.indicator {
            width: 42%;
            padding: 0;
            line-height: 42px;
            text-align: left;
          }
          &.navigator {
            width: 29%;

            > a {
              padding: 10px 0;
              text-align: center;
              font-size: 0.875em;
              border: 0;

              > i.fa { font-size: 1.14285em; }
            }
          }
        }
      }
    }

    .filter-result {
      .col-xs-12 {
        &:not(:last-of-type) { margin-bottom: 4.5%; }

        .venue-item {
          .venue-list-info {
            .tripadvisor-score {
              .TA_cdsratingsonlynarrow {
                > ul { display: none; }
              }
            }
          }
        }
      }
    }
  }
}

#filter-form-container {
  .inner-filter-container {
    height: 100%;
    padding: 70px 5% 43px;
    overflow-y: scroll;

    .fields {
      width: 100%;

      .row {
        &:nth-child(2) {
          .field-set {
            &:nth-child(3) { margin-top: 26px; }

            > input[type=datetime-local].wurfl.is-mobile {
              @include absoluteTo(top, left);
              display: block;
              visibility: hidden;
              z-index: 1;

              ~ input[type=text] {
                position: relative;
                z-index: 2;
              }
            }
          }
        }

        .field-set {
          .slider.slider-horizontal {
            .slider-tick-label-container {
              .slider-tick-label {
                &::after { display: none; }
              }
            }
          }
        }
      }
    }
  }
}


/*
 * =============================================================================
 * Venue Detail Page Style
 * =============================================================================
 */
.venue-heading {
  height: auto;
  padding-top: 66px;

  &::before, &::after { display: none; }

  .container {
    width: 100%;
    padding: 0;

    .scroller-toggle { display: none; }

    .heading-info {
      height: auto;
      margin-top: 0;

      .venue-featured-slider { display: none; }
      .venue-pricing {
        padding-bottom: 77px;

        > h2 {
          margin-top: 0;
          padding-top: 90px;
        }

        .pricing-tip {
          height: 72px;
          padding: 4% 5%;
          top: 0;
          background-color: $blue;

          &::after { display: none; }

          > h2 { font-weight: 700; }
        }

        .price-detail {
          &.has-1-prices .price-container,
          &.has-2-prices .price-container,
          &.has-3-prices .price-container {
            padding: 16px 0;

            &:first-of-type { padding-top: 0; }
          }
        }
      }
    }
  }
}

.venue-content {
  .rooms-section {
    margin-top: -66px;
    padding-top: 77px;

    .filter {
      height: 100%;
      display: none;
      position: fixed;
      top: 66px;
      padding: 0;
      background-color: rgba($black, 0.65);

      #filter-form {
        display: none;
        height: 100%;
        padding-bottom: 65px;
        overflow-y: scroll;

        .fields-inner-container {
          border: 0;

          .fields-wrapper {
            .field-row {
              .field-input {
                > input[type=datetime-local].wurfl.is-mobile {
                  @include absoluteTo(top, left);
                  display: block;
                  visibility: hidden;
                  z-index: 1;

                  ~ input[type=text] {
                    position: relative;
                    z-index: 2;
                  }
                }
              }
            }
          }

          > input[type=submit] {
            border-width: 1px 0;
            margin-left: 0;
          }
        }
      }
    }

    .listings {
      .listing-item {
        .item-heading {
          > article > span { display: none; }
          > article > p {
            clear: left;
            float: none !important;
            padding-top: 7px;
            font-size: 0;
            line-height: normal;

            > i.fa { display: none; }
            > time {
              font-size: 14px;

              &:first-of-type {
                &::after {
                  content: 's.d.';
                  display: inline-block;
                  margin: 0 3px 0 2px;
                }
              }
            }

            .mobile-filter-trigger { display: inline-block; }
          }
        }

        .item-content {
          .specification {
            border-width: 0 1px 1px;

            .row { display: none; }
          }

          .calculator, .holiday { position: relative; }
          .calculator {
            padding-bottom: 85px;

            .calc-row {
              width: 100%;
              padding-top: 17px;
              margin: 0 auto;

              > ul {
                > li {
                  &.calc-title { margin-bottom: 13px; }
                  &.calc-item { margin-bottom: 10px; }
                }
              }

              > i.fa { margin-bottom: 29px; }

              .price-result { margin-top: 10px; }
            }
          }
          .holiday {
            padding: 17px 0;

            > i.room-closed { margin-top: 0; }

            .filter-focus-trigger { display: none; }
          }
        }
      }
    }

    #listing-items-toggle {
      height: auto;

      > div {
        font-size: 0.875em;
        padding: 0 15px;
        line-height: normal;
        display: block;
      }
      > a { margin: 8px auto 0; }
    }
  }

  .info-section {
    position: relative;
    padding-top: 25px;

    .misc-info {
      width: 100%;
      padding-top: 11px;
      margin-bottom: 5px;
      background-color: $white;
      border: solid 1px #D5D5D5;
      z-index: 2;

      .info-item {
        &:not(:last-child) { border-bottom: solid 1px #D5D5D5; }
        &:not(:first-child) { margin-top: 8px; }

        > ul > li { border: 0; }
      }
    }

    .about-venue {
      > article {
        h1 { line-height: 1.55em; }
      }
    }
  }

  .map-section {
    margin-top: 5px;
    padding-top: 0;
    border: solid 1px #D5D5D5;

    .map-heading {
      color: #444;
      background-color: $white;
      border-bottom: 0;

      > article > h2 {
        font-weight: 400;
        text-transform: none;
      }
      > article > p {
        margin: 11px 0 8px;

        &:not(:nth-of-type(2)) { display: none; }
      }

      .open-map-anchor {
        width: 176px;
        position: relative;
        top: auto;
        right: auto;
        margin: 11px auto 0;
        display: block;
        color: #696969;
        text-align: center;
        background-color: #F1F1F1;
      }
    }

    #map-wrapper { display: none; }
  }

  .similar-listing {
    margin-bottom: 20px;

    .col-xs-12.col-sm-12 {
      &:not(:last-of-type) { margin-bottom: 5%; }
    }
  }
}

/*
 * =============================================================================
 * Order Confirmation Page Style
 * =============================================================================
 */
.order-walkthrough { display: none; }

.checkout-content {
  padding-top: 86px;
  margin-bottom: 50px;

  .checkout-form {
    padding: 222px 0 0;
  }
  .order-summary {
    padding: 0;
    position: static;
  }
}

.checkout-content .checkout-form .form-set {
  .form-fields-container {
    .set-fields-row {
      width: 100%;

      .fields-heading {
        > span { width: 110px; }
      }
      .form-field {
        padding: 0 21px;

        > label {
          @include size(100%, auto);
          display: block;
          padding-left: 0;
          margin: 15px 0 5px;
          line-height: 1em;

          &.inline-label {
            width: 100%;
            margin: {
              top: 11px;
              left: 0;
            }
          }
        }
        > select,
        > textarea,
        > input[type=text],
        > input[type=number],
        > input[type=email] {
          width: 100%;
        }
        > textarea {
          width: 100%;
          margin-left: 0;
        }

        .residential-description {
          width: 100%;
          padding-left: 0;
        }
      }
    }
  }

  #order-to-payment { font-size: 0.9375em; }
}

.checkout-content .order-summary {
  .meeting-duration {
    width: 100%;
    position: absolute;
    top: 209px;
    left: 0;
    margin: 0;
    padding: 0 15px;
    background-color: transparent;
    border: 0;

    .arrow-go-to {
      @include size(26px, 26px);
      position: absolute;
      top: 50%;
      left: 50%;
      margin: {
        top: -14px;
        left: -14px;
      }
      border-color: #D5D5D5;
      background-color: $white;
      transform: rotate(90deg);
      z-index: 2;

      > i.fa {
        @include size(24px, 24px);
        vertical-align: top;
        line-height: 24px;
      }
    }

    .date-container {
      width: 100%;
      border: {
        style: solid;
        color: #D5D5D5;
      }
      background-color: $white;
      text-align: center;

      &.start-date {
        margin-right: 0;
        border-width: 1px 1px 0;
        padding: 13px 0 17px;
      }
      &.end-date {
        border-width: 1px;
        padding: 17px 0 13px;
      }

      > span {
        &.date-label { display: none; }
      }
    }
  }

  .room-overview { display: none; }

  #calculator {
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    padding: 66px 13px 0;
    background-color: $global_body_bg;
    border: {
      width: 0 0 1px;
      color: #C5C5C5;
    }
    box-shadow: 0 2px 6px rgba($black, 0.15);
    z-index: 10;
    overflow-y: scroll;

    /*&::before {
      content: '';
      @include size(100%, 100%);
      position: fixed;
      top: 0;
      left: 0;
      background-color: rgba($black, 0.66);
      z-index: 9;
    }*/

    > ul {
      height: 0;
      position: relative;
      padding-bottom: 79px;
      overflow: hidden;

      .pricing-list {
        padding-left: 0;

        &:not(:last-child) {
          padding-bottom: 0;

          .day-label {
            display: block;
            position: relative;
            padding-bottom: 7px;
            line-height: 1em;
            border-bottom: solid 1px #D5D5D5;
          }
          .calculation {
            margin-bottom: 0;
            padding: 4px 0 21px;
            background-color: #F1F1F1;

            .price-formula {
              > .price-per-pax { margin-right: 16px; }
              > i.fa { display: none; }
              > .pax-result {
                position: absolute;
                bottom: 3px;
                right: 158px;
                margin: 0;
                font-size: 0.875em;
                line-height: 1em;

                &::before {
                  content: '\f00d';
                  display: inline-block;
                  margin-right: 2px;
                  font: {
                    family: FontAwesome;
                    size: 0.785em;
                    weight: normal;
                    style: normal;
                  }
                  text-decoration: inherit;
                }
              }
              > span.equals {
                position: absolute;
                top: 14px;
                right: 142px;
              }
            }
            .price-sum { top: 4px; }
          }
        }

        &.last-day {
          border-bottom: solid 2px $blue;
        }
        &.last-result {
          @include size(100%, 79px);
          position: absolute;
          bottom: 0;
          left: 0;
          margin-left: 0;
          border-top: 0;
          background-color: $global_body_bg;
        }

        i.fa-plus { display: none; }

        .calculation {
          .price-formula > .final-calc-label { font-size: 0.875em; }
          .price-sum { right: 4px; }
        }
      }
    }

    #stack-expander { display: block; }
  }
}