/**
 * Responsive Style: Portrait Tablet
 * =============================================================================
 * Author: Arvianto Dwi <arvianto.dwi@programmer.net>
 * Since : 2015-12-23 (v1.0.0)
 * Update: 2016-04-03 (v1.1.0) - New responsive style for portrait tablet, based
 *                               on _mobile_base.scss
 *         2016-04-16 (v1.2.0) - Add order checkout responsive style
 *         2016-05-01 (v2.0.0) - Renamed from _tablet_p.scss, optimize new
 *                               bootstrap responsive style
 */

/* =============================================================================
 * Component - Footer Style
 * =============================================================================
 */
#pnlFooterGlobal #web-global-footer,
#pnlFooterGlobal > .partial-footer > #web-global-footer {
  > .container {
    .footer-right {
      > small { margin-bottom: 13px; }
      > a {
        width: 17%;

        &:not(:last-of-type) { margin-right: 33px; }
      }
    }
  }
}

/* =============================================================================
 * Home / Landing Page Style
 * =============================================================================
 */
.container.form-contain {
  .search-home-form {
    .filter-fields {
      .date-time-picker {
        .mobile-dtl-label { width: 20%; }
        > input[type=datetime-local] { width: 80%; }
      }
    }
  }
}

.container.response {
  .feature-summaries {
    width: 31%;
    float: left;
    margin-bottom: 33px;
    padding-bottom: 0;

    &:not(:last-of-type) {
      margin-right: 3.5%;
      border: 0;
    }

    .illustration {
      @include size(70px, 70px);
      position: static;
      margin: 0 auto;
      padding: 4px;
    }

    > article {
      margin-top: 3px;
      text-align: center;

      > p  {
        &::before { display: none; }
        
        > br { display: block; }
      }
    }
  }
}

.clients-list {
  .container {
    .client-slide-inner {
      > ul > li {
        &:nth-child(1), &:nth-child(4), &:nth-child(6), &:nth-child(7), &:nth-child(8), &:nth-child(9) { width: 35%; }
        &:nth-child(2), &:nth-child(3), &:nth-child(4) { width: 30%; }

        /* Row 1 */
        &:nth-child(6) {
          left: 35%;
          right: auto;
        }
        &:nth-child(2) {
          position: absolute;
          top: 0;
          right: 0;
        }

        /* Row 2 */
        &:nth-child(8) {
          top: 88px;
          right: auto;
          bottom: auto;
          left: 35%;
        }
        &:nth-child(3) {
          position: absolute;
          top: 88px;
          right: 0;
        }

        /* Row 3 */
        &:nth-child(9) {
          top: 176px;
          right: auto;
          left: 35%;
        }
        &:nth-child(5) {
          margin-top: 0;
          top: 176px;
        }
      }
    }
  }
}

.media-list .container {
  > a {
    width: 35%;

    &:first-of-type {
      margin-left: 15%;
      float: left !important;
    }
    &:last-of-type {
      margin-right: 15%;
      float: right !important;
    }

    &.techin { margin-top: 10px; }
  }
}

.container#venue-list-home {
  .venue-item.simple {
    width: 48.5%;
    margin: 1.75% 1.75% 0 0;

    &:nth-of-type(3n) { margin-right: 1.75%; }
    &:nth-of-type(2n) { margin-right: 0; }
    &:nth-of-type(1),
    &:nth-of-type(2) { margin-top: 0; }
  }
}

.container.blog-summary .article-list > li {
  .post-container {
    > section {
      height: auto;
      min-height: 250px;

      &::after { bottom: 30px; }

      .anchor-more { bottom: -20px; }
    }
  }
}

/*
 * =============================================================================
 * Venue List Page Style
 * =============================================================================
 */
.venue-list {
  .list-catalog {
    .venuekita-tagline {
      padding: 22px 15px;
    }

    .filter-result {
      .col-sm-6 {
        &:not(:last-of-type) { margin-bottom: 4%; }
        &:nth-of-type(11), &:nth-of-type(12) { margin-bottom: 1.75%; }

        .venue-item {
          .venue-list-info {
            .tripadvisor-score {
              .TA_cdsratingsonlynarrow {
                > ul { display: block; }
              }
            }
          }
        }
      }
    }
  }
}

#filter-form-container {
  .inner-filter-container {
    overflow-y: hidden;

    .fields {
      .row {
        &:nth-child(2) {
          .field-set {
            &:nth-child(3) { margin-top: 0; }
          }
        }

        .field-set {
          .slider.slider-horizontal {
            .slider-tick-label-container {
              .slider-tick-label {
                &::after { display: inline-block; }
              }
            }
          }
        }
      }
    }
  }
}

/*#main.main-list .venue-item {
  width: 48.5%;
  margin: 0 0 3%;

  &:not(:nth-of-type(2n)) { margin-right: 3%; }
  &:nth-of-type(11), &:nth-of-type(12) { margin-bottom: 1.75%; }

  .venue-list-info .tripadvisor-score {
    .TA_cdsratingsonlynarrow {
      > ul { display: block; }
    }
  }
}*/

/*
 * =============================================================================
 * Venue Detail Page Style
 * =============================================================================
 */
.venue-heading {
  .container {
    .heading-info {
      .venue-pricing {
        .pricing-tip { padding: 25px 5%; }
        .price-detail {
          margin-bottom: 6px;
          @include clearfix('both');

          &.has-1-prices .price-container { width: 100%; }
          &.has-2-prices .price-container { width: 50%; }
          &.has-3-prices .price-container { width: 33.333%; }

          &.has-1-prices .price-container:first-of-type,
          &.has-2-prices .price-container:first-of-type,
          &.has-3-prices .price-container:first-of-type { padding-top: 16px; }

          .price-container {
            float: left;

            &:not(:last-of-type) {
              border-bottom: 0;
              border-right: solid 1px #D5D5D5;
            }
          }
        }
      }
    }
  }
}

.venue-content {
  .rooms-section {
    .filter {
      height: auto;
      display: block;
      position: absolute;
      top: 77px;
      padding: 0 15px;
      background: none;

      #filter-form {
        height: auto;
        display: block;
        padding-bottom: 0;
        overflow-y: initial;

        .fields-inner-container {
          border: solid 1px #D5D5D5;

          > input[type=submit] {
            border-width: 1px;
            margin-left: -1px;
          }
        }
      }
    }

    .listings {
      .listing-item {
        .item-heading {
          > article > p {
            .mobile-filter-trigger { display: none; }
          }
        }

        .item-content {
          .holiday {
            padding-bottom: 85px;

            .filter-focus-trigger { display: block; }
          }
        }
      }
    }
  }

  .info-section {
    .misc-info {
      width: 33.33333333%;
      background-color: transparent;
      border: 0;

      .info-item {
        > ul > li { border: solid 1px #D5D5D5; }
      }
    }
  }

  .map-section {
    margin-top: 0;
    padding-top: 25px;
    border: 0;

    .map-heading {
      color: $white;
      background-color: #444;
      border-bottom: 3px solid $blue_mid;

      > article > h2 {
        font-weight: 700;
        text-transform: uppercase;
      }
      > article > p {
        display: block;
        margin: 4px 0 0;
      }

      .open-map-anchor {
        width: auto;
        position: absolute;
        right: 17px;
        top: 50%;
        margin-top: -20px;
        color: $white;
        background-color: rgba($white, 0.2);
      }
    }

    #map-wrapper { display: block; }
  }

  .similar-listing {
    .col-sm-4.col-md-4.col-lg-4 { padding: 0 3px; }
  }
}

/*
 * =============================================================================
 * Order Confirmation Page Style
 * =============================================================================
 */
.checkout-content {
  position: relative;
  padding-top: 35px;

  .order-summary {
    .meeting-duration {
      padding: 0 15px;

      .arrow-go-to { transform: rotate(0deg); }

      .date-container {
        width: 50%;

        &.start-date {
          padding: 13px 16px 13px 15px;
          border-width: 1px 0 1px 1px;
        }
        &.end-date { padding: 13px 15px 13px 16px; }
      }
    }
  }
}